<div class="col-xs-12">
  <h1>In House Schulungen</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_InHouseSchulungen.jpg", :alt => "InHouseSchulungen", :class => "img-responsive center-block") %>

</div>
<%= @page.content.html_safe %>