<div class="col-xs-12">
  <h1>In HouseSchulungen</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_InHouseSchulungen.jpg", :alt => "InHouseSchulungen", :class => "img-responsive center-block") %>

</div>
<div class="col-xs-12">
  <p>Der vkm-rwl biete neben den bekannten Seminaren zu diversen Themen auch In-House-Schulungen an. Hier schulen wir die Mitarbeitervertretungen vor Ort in ihren Dienststellen. Sowohl Themen wie auch Termine und Länge der Schulungen sind in Absprache mit der Geschäftsstell frei wählbar.</p>
</div>