<div class="col-xs-12">
  <h1>Inhalte der Seminare</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Inhalte.jpg", :alt => "Seminar Inhalte", :class => "img-responsive center-block") %>

</div><%= @page.content.html_safe %>