<div class="col-xs-12">
  <h1>Inhalte der Seminare</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Inhalte.jpg", :alt => "Seminar Inhalte", :class => "img-responsive center-block") %>

</div>
<div class="col-xs-12">
  <p>Hier erhalten Sie einen Überblick über die Themen der Seminare. Wenn Sie sich für ein Seminar anmelden wollen, erfahren Sie die genauen Termine <a href="/members">hier</a>.</p>
  <p><span style="text-decoration: underline;">Wir bitten darum, vorhandene Gesetzestexte und Tarifsammlungen (z.B. BAT-KF)&nbsp; mitzubringen.</span></p>
</div>
<div class="col-sm-6">

  <h2>Grundseminar I Mitarbeitervertretungsgesetz</h2>

  <p>- Das kirchliche Arbeitsrecht<br> + Einführung in die Grundlagen<br> - Die Arbeitsrechtliche Kommission<br> + Grundlagen<br> + Aufgabenstellung<br> + Bedeutung<br> - Allgemeine Bedingungen der Arbeit der MV<br> - Bildung und Zusammensetzung der MV<br> - Wahl der MV<br> - Amtszeit<br> - Ehrenamt<br> - Behinderungs- und Vergünstigungsverbot<br> - Geschäftsführung der MV<br> - Mitarbeiterversammlung<br> - Aufgaben und Befugnisse der MV<br> + Grundsätze der Zusammenarbeit<br> - Interessenvertretung besonderer Mitarbeitergruppen (§§ 49 – 53 MVG)</p>

  <h2>Grundseminar II Mitarbeitervertretungsgesetz</h2>

  <p>- Informationsrecht der MV<br> - Aufgaben und Befugnisse der MV<br> + Allgemeine Aufgaben<br> + Dienstvereinbarung<br> + Verfahren der Beteiligung<br> - Das Kirchengerichtsverfahren nach dem MVG<br> - Das Betriebsrentenrecht</p>


  <h2>Grundseminar III Mitarbeitervertretungsgesetz</h2>

  <p>- Arbeitssicherheit und Gesundheitsschutz<br>- Mitbestimmung<br>- Eingeschränkte Mitbestimmung<br>- Mitberatung<br>- Initiativrecht<br>- Beschwerderecht</p>


  <h2>Arbeitsrechtsseminar I</h2>

  <p>- Arbeitsvertrag, Nebenabreden, Probezeit<br>- Allgemeine Arbeitsbedingungen<br>- Versetzung, Abordnung, Zuweisung, Personalgestellung<br>- Arbeitszeit, Sonderformen der Arbeit, Ausgleich für Sonderformen der Arbeit<br>- Befristete Arbeitsverhältnisse und Teilzeitbeschäftigung<br>- Eingruppierung, Entgelte, sonstige Leistungen<br>- Entgelt im Krankheitsfall, Jubiläumszuwendung, Sterbegeld<br>- Beendigung des Arbeitsverhältnisses ohne Kündigung<br>- Grundzüge des kirchlichen Arbeitsrechts und Schlichtungsverfahrens<br>- Aktuelle Rechtsprechung<br>- Arbeitsrechtliche Fragen / Bearbeitung von praktischen Fällen</p>


  <h2>Arbeitsrechtsseminar II</h2>

  <p>- Urlaub, Arbeitsbefreiung<br>- Abmahnung<br>- Kündigungsschutz<br>- Kündigung (Änderungskündigung; ordentliche / außerordentliche Kündigung)<br>- Aufhebungsvertäge<br>- Arbeitsbescheinigungen<br>- Betriebliches Eingliederungsmanagement<br>- Betriebsübergang gemäß § 613 a BGB<br>- Rationalisierungssicherungsordnung<br>- Beschäftigungssicherungsordnung<br>- Zusätzliche Altersversorgung<br>- Aktuelle Rechtsprechung<br>- Arbeitsrechtliche Fragen / Bearbeitung von praktischen Fällen</p>


  <h2>Grundseminar Arbeitsrecht AVR-DD</h2>

  <p><em>Die Arbeitsvertragsrichtlinien des Diakonischen Werkes der Ev. Kirche in Deutschland sind Gegenstand der Fortbildung. Hinzu kommen die Öffnungsklauseln für Dienstvereinbarungen zwischen Dienststellenleitung und Mitarbeitervertretung im Bereich der AVR-DD. Ferner werden die Eingruppierungsregelungen der AVR-DD eingehend erläutert. </em></p>
  <div>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Grundlagen Arbeitsvertragsrichtlinien (AVR-DD)<br></em>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Arbeitsweise der ARK-AVR-DD<br></em>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Eingruppierung</em></div>
  <div>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Bestandteile der Vergütung</em></div>
  <div>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Arbeitszeit und Pausen</em></div>
  <div>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Arbeitszeitkonten (inkl. Plus- und Überstunden)</em></div>
  <div>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Urlaub und Sozialbezüge</em></div>
  <div>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Öffnungsklauseln</em></div>
  <div>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>&nbsp;Urteile zum Arbeitsrecht</em></div>
  <div>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Dienstvereinbarungen </em></div>
  <div>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Bundesgesetzliche Ergänzungen wie TzBfG, ArbZG, etc..</em></div>
  <div><em>Arbeit in Kleingruppen anhand von Fallbeispielen</em></div>



  <h2>Sozialrechtsseminar</h2>

  <p><em>Die gesetzliche Rentenversicherung</em><br>+ Rentenrechtliche Zeiten – welche Zeiten sind für die Rente wichtig<br>+ Erwerbsminderungsrente – welche Voraussetzungen sind zu erfüllen<br>+ Altersrente – wann kann die Rente beginnen<br>+ Hinterbliebenenrente – wer hat Anspruch<br>+ Allgemeine Hinweise zum Antragsverfahren:<br>&nbsp; - Kontenklärung<br>&nbsp; - Rehabilitation<br>&nbsp; - Rentenantrag</p>
  <p><em>Die kirchliche Zusatzversorgungskasse (KZVK)</em><br>+ Startgutschriften<br>+ Sanierungsgeld<br>+ Rentenberechnung<br>+ Altersvorsorge<br>+ Riesterrente<br>+ Entgeltumwandlung<br><br>Praktische Fallbearbeitung</p>


  <h2>Praxiswissen</h2>

  <p>Beginn: 1. Tag 10.00 Uhr – Ende 3. Tag gegen 15.00 Uhr<br><br>Mitbestimmung: Beteiligungsverfahren anhand von Fallbearbeitungen<br><br>Der tägliche Umgang mit dem Mitarbeitervertretungsgesetz wirft insbesondere bei den Beteiligungsverfahren häufig Fragen auf, die durch die Bezugnahme des Mitarbeitervertretungsgesetzes auf Rechtsvorschriften, arbeitsrechtliche Regelung und rechtskräftige gerichtliche Entscheidungen sowie die Verfahrensabläufe entstehen.<br>Diese Fragestellungen werden im Dialog und anhand von Fallbeispielen aus der Praxis mit den Teilnehmerinnen und Teilnehmern bearbeitet.<br>Das Seminar richtet sich an Mitarbeitervertreterinnen und Mitarbeitervertretern mit dem Ziel, Fehler in den Beteiligungsverfahren zu vermeiden.<br><br>Seminarinhalte:<br>• Vorstellung von wichtigen Änderungen und Neuerungen des von der Synode der EKD am 12.11.2013 beschlossenen Gesetzes<br>• Erfahrungsaustausch über die Mitbestimmung im Mitarbeitervertretungsgesetz<br>• Beteiligungsverfahren (Grundzüge, Wiederholung) <br>• Grundlagenwissen im Arbeits- und Tarifrecht<br>• Fallbearbeitung mit den Teilnehmerinnen und Teilnehmern<br>• Erarbeitung von Ergebnissen der aus dem Kreis der Teilnehmerinnen und Teilnehmern eingebrachten Fälle<br><br></p>


  <h2>MAV – Geschäftsführung und Organisation</h2>

  <p><strong>Zielsetzung</strong><br>Um das Mitarbeitervertretungsgesetz und die Aufgaben der MV umzusetzen, bedarf es einer funktionierenden Geschäftsführung. In diesem Seminar geht es um die praktische Wahrnehmung der einzelnen Aufgaben und die erfolgreiche Organisation der MAV-Arbeit.<br><br><strong>Inhalte</strong><br>Im Seminar werden folgende Themen behandelt:<br>-Das MVG und seine Präambel<br>-Gesetzliche Grundlagen der Geschäftsführung und Verpflichtungen nach &nbsp;&nbsp; &nbsp;&nbsp; dem MVG<br>-Aufgabenverteilung in der Mitarbeitervertretung<br>-Vorbereitung und Ablauf&nbsp; von Sitzungen / Mitarbeiterversammlungen<br>-Inhaltliche Vorbereitungen<br>-Gesprächsführung und Leitung von Sitzungen<br>-Protokollführung / Protokollarten<br>-Sitzungsnacharbeit<br>-Arbeiten im Team<br>-Umgang mit Lampenfieber / Entspannungsübungen <br>&nbsp;&nbsp; &nbsp;<br>Im Seminar werden theoretische Grundlagen dargestellt, in Rundgesprächen und Kleingruppen Lösungen erarbeitet&nbsp; und&nbsp; praktische Übungen durchgeführt.<br>Beginn 1. Tag, 10.00 Uh<br>Ende 2. Tag, 14.00 Uhr &nbsp;<br>&nbsp;<br>Max. 15&nbsp; Teilnehmende</p>


  <h2>Basiswissen MVG</h2>

  <p>Basiswissen für Neueinsteiger und Interessierte<br>Beginn 1. Tag: 10.00 Uhr – Ende 3. Tag: gegen 14.00 Uhr<br><br><br>Die Mitarbeitervertretung (MAV) ist das Interessenvertretungsorgan der Mitarbeitenden in den Einrichtungen und nimmt aktiv durch Beteiligungsrechte an die Mitarbeiterinnen und Mitarbeiter betreffende Entscheidungen teil. Fachliches Wissen und Können sind Voraussetzung für eine starke Dienstgemeinschaft und Wahrnehmung der Interessen der Mitarbeitenden.<br>Dieses Seminar vermittelt zu unseren vertiefenden Grundseminaren ein Basiswissen insbesondere für Neueinsteiger in die Mitarbeitervertretungsarbeit.<br>&nbsp; <br>Folgende Inhalte werden in Rundgesprächen, Kurzvorträgen und Einführungen&nbsp; sowie in Kleingruppenarbeiten vermittelt:<br>„Das Mitarbeitervertretungsgesetz der EKD“<br>•&nbsp;&nbsp; &nbsp;Das Recht in Kirche und Diakonie / Rechtsgrundlagen&nbsp; MVG<br>•&nbsp;&nbsp; &nbsp;Arbeitsrecht / Aufgaben der Mitarbeiterverbände <br>•&nbsp;&nbsp; &nbsp;Aufbau des MVG<br>•&nbsp;&nbsp; &nbsp;MAV Rechte und Pflichten<br>•&nbsp;&nbsp; &nbsp;Eingeschränkte Mitbestimmung / Mitbestimmung / Mitberatung<br>•&nbsp;&nbsp; &nbsp;Initiativrecht<br>•&nbsp;&nbsp; &nbsp;Zusammenwirken zwischen MAV und Dienststellenleitung<br>•&nbsp;&nbsp; &nbsp;Beschwerderecht<br>•&nbsp;&nbsp; &nbsp;Organisationsfragen<br>•&nbsp;&nbsp; &nbsp;Leitung&nbsp; der MAV<br>•&nbsp;&nbsp; &nbsp;Praktische Übungen</p>


  <h2>Bilanzen lesen und verstehen</h2>

  <p>Mitarbeitervertretungen werden heute immer häufiger mit finanzwirtschaftlichen Problemen ihrer Einrichtung konfrontiert. Umso wichtiger ist es für diese, auch auf diesem Gebiet gerüstet zu sein.<br>Dieser Kurs richtet sich an Mitarbeitervertreterinnen und Mitarbeitervertreter in Diakonie und Kirchengemeinden.&nbsp; Hier sollen Grundlagen der Betriebswirtschaftslehre (der Jahresabschluss, die Bilanz und die Gewinn- und Verlustrechnung) vermittelt bzw. wieder aufgefrischt werden. Darüber hinaus möchten wir die Teilnehmer in die Lage versetzen, Jahresabschlüsse richtig zu lesen und anlassbezogene Auswertungen vorzunehmen. Teil der Bilanzanalyse soll die Einwertung des „eigenen“ Betriebes sein, um als Arbeitnehmervertreter die Lage des Betriebes richtig einschätzen zu können.<br><br>Programm:<br>Tag 1)<br>Der Jahresabschluss (was sind Bestandteile des JA? Was sind Bilanz und GuV? Was sind Erträge, Kosten, Abschreibungen usw.? Welche rechtlichen Grundlagen gibt es? Wo kann ich nachlesen?<br><br>Tag 2)<br>Die Bilanz, die GuV und erste Schritte in der Bilanzanalyse <br>Erste Übungen<br><br>Tag 3)<br>Bilanzanalyse II <br>Weitere Übungen<br><br>Wenn möglich, bitten wir die Teilnehmer einen aktuellen Jahresabschluss (Bilanz und Gewinn- und Verlustrechnung) des „eigenen“ Betriebes mitzubringen. Wir würden versuchen, diesen z. B. in Fallübungen mit einzubauen. <br><br></p>


  <h2>Tagesseminar Schwerbehindertenrecht &#40;Grundseminar&#41;</h2>

  <p><strong>Grundlagen</strong><br>Feststellungsverfahren - Aufgaben des Versorgungsamtes -&nbsp; Behinderung/Schwerbehinderung -&nbsp; Bescheid/Widerspruch<br>Schwerbehindertenausweis -&nbsp; Merkzeichen -&nbsp; Gleichstellung<br><br>Beschäftigungspflicht der Arbeitgeber<br>Beschäftigungsquote -&nbsp; Ausgleichsabgabe -&nbsp;&nbsp; Mehrfachanrechnung<br><br>Rechtsstellung der Schwerbehindertenvertretung<br>Persönliche Rechte und Pflichten der SBV -&nbsp; Freistellung/Kündigungsschutz<br><br>Rechte und Pflichten der Schwerbehindertenvertretung<br>Aufgaben der SBV -&nbsp; Überwachungsfunktion - Maßnahmen initiieren und beantragen - Beschäftigungsförderung durch Einstellung –<br>Beschäftigungssicherung durch Prävention – Integrationsvereinbarungen<br><br>Das Netzwerk<br>Wer liefert mir Was?<br>Die 11880 der SBV - Hier werden Sie geholfen<br><br>Betriebliches Eingliederungsmanagement<br>Gesetzliche Vorschriften - Vorgehensweise und Beteiligte - Einführung</p>


  <h2>Tagesseminar "neue Regelungen im BAT-KF zur Arbeitszeit"</h2>

  <p>Ab Januar 2017 gibt es einige Neuregelungen im BAT-KF, die Klarstellungen bei der Anrechnung von Fehlzeiten enthalten, Reisezeiten besser berücksichtigen, ein Langzeitkonto ermöglichen und das „Holen aus dem Frei“ über eine Dienstvereinbarung regeln und entschädigen sollen.<br>Das Seminar dient dazu, einen Überblick über die letzten Änderungen im BAT-KF zu geben, Einzelfragen dazu zu beantworten und mögliche Dienstvereinbarungen zu beraten.<br>Das Seminar eignet sich unabhängig von rechtlichen Vorkenntnissen für alle Mitarbeitervertreterinnen oder Mitarbeitervertreter.<br>Seminarablauf:<br>Ab 9:30 Uhr Stehkaffee<br>10:00 Uhr Beginn, Vorstellungsrunde, Erwartungen<br>10:30 Uhr – 12:00 Uhr &nbsp;&nbsp; &nbsp;die Änderungen der §§ 5 bis 8&nbsp; im BAT-KF<br>Arbeitszeit bei Fehltagen und Urlaub<br>Reisezeiten<br>Langzeitkonto<br>„holen aus dem Frei“<br>12:00 Uhr 13:00 Uhr Mittagspause<br>13:00 Uhr 14:30 Uhr &nbsp;&nbsp; &nbsp;Einzelfragen <br>Dienstvereinbarungen<br>14:30 Uhr 15:00 Uhr Rückfragen, Ausblick<br>Termin: &nbsp;&nbsp; &nbsp;Montag&nbsp; 9.01.2017<br>Dienstag 10..01.2017<br>Ort: vkm-rwl Beratgerstr. 36, 44149 Dortmund<br>Beginn 10.00, Ende 15.00 Uhr.<br>Teilnahmekosten: 110,00 Euro</p>


  <h2>Tagesseminar BEM - Betriebliches Eingliederungsmanagement</h2>

  <p>Seit vielen Jahren muss in allen Dienststellen ein betriebliches Eingliederungsmanagement nach § 84 Abs. 2 SGB IX durchgeführt werden. Tatsächlich findet dies oft immer noch nicht statt.<br>Was gibt es dabei zu beachten? Sind die oft bestehenden Ängste berechtigt? Mit diesen und anderen Fragen beschäftigen wir uns in diesem Tageseminar.<br>Termin: 8. Februar 2017</p>


  <h2>Tagesseminar Arbeitsstättenverordnung</h2>

  <p>Die Arbeitsstättenverordnung hat als Ziel, Beschäftigte zu schützen und zur Verhütung von Arbeitsunfällen und Berufskrankheiten beizutragen. So ist von den Unfällen ein nicht unwesentlicher Teil auf die nicht ordnungsgemäße Beschaffenheit, Einrichtung und Unterhaltung der Arbeitsstätten zurückzuführen, z. B. Sturzunfälle auf schadhaften Fußböden und Treppen sowie Transportunfälle auf ungeeigneten oder zu eng bemessenen Verkehrswegen. Aber auch schwere Unfälle durch das Zersplittern von Glaswänden oder Glaseinsätzen in Türen oder Erkrankungen durch gesundheitlich unzuträglichen Betriebslärm sollen vermieden werden. Des Weiteren dient die ArbStättV der menschengerechten Gestaltung der Arbeit. Dies sind vor allem die Forderungen nach gesundheitlich zuträglichen Luft-, Klima- und Beleuchtungsverhältnissen sowie nach einwandfreien sozialen Einrichtungen, insbesondere Sanitär- und Erholungsräumen.<br>Was müssen Mitarbeitervertretungen dazu kenne? Darum geht es in diesem Tagesseminar.<br>Termin: 2. März 2017</p>
</div>
<div class="col-sm-6">

  <h2>Tagesseminar Psychische Gefährdungen am Arbeitsplatz</h2>

  <p>Gesundheit umfasst sowohl das körperliche als auch das psychische und soziale Wohlergehen. Daher muss der Arbeitgeber auch eine Gefährdungsbeurteilung psychischer Belastungen durchführen, entweder integriert in die Gesamt-Gefährdungsbeurteilung, oder mit Hilfe spezifischer Instrumente.<br>Was gibt es dabei für Mitarbeitervertretungen zu beachten?<br>Termin: 22. März 2017</p>


  <h2>Tagesseminar Gefährdungsanzeige – wie kann die Mitarbeitervertretung helfen?</h2>

  <p>Die Kolleginnen und Kollegen schreiben Gefährdungs- oder Überlastungsanzeigen. Die Mitarbeitervertretung bekommt diese in Kopie. Was aber damit machen?<br>Kann die Mitarbeitervertretung den Kolleginnen und Kollegen helfen? Mit dieser und weiteren Fragen zu dem Thema werden wir uns in dem Tagesseminar beschäftigen.<br>Termin: 30. März 2017</p>


  <h2>Tagesseminar Dienstvereinbarungen</h2>

  <p>Dienstvereinbarungen gibt es in den Dienststellen verschiedene. Zum Thema Arbeitszeit und anderen wichtigen Fragen, werden gerne Dienstvereinbarungen abgeschlossen.<br>Was gibt es dabei aber zu beachten? Mit dieser und weiteren Fragen zu dem Thema werden wir uns in dem Tagesseminar beschäftigen.<br>Termin: 27. April 2017</p>


  <h2>Tagesseminar Jugend- und Auszubildendenvertretung</h2>

  <p>In diesem Tagesseminar zeigen wir, wie die Jugend- und Auszubildendenvertretung sich in der Dienststelle für die Azubis und Jugendlichen einsetzen kann. Wir vermitteln Wissenswerte um die JAV-Arbeit und was diese erreichen kann. <br>Und das ist gar nicht so wenig: Auch die JAV hat schließlich Möglichkeiten. Sie kann die Ausbildung, den Schutz der Gesundheit und die Arbeitsbedingungen verbessern. Dazu muss sie aber wissen, wie das geht. Genau darum geht es.<br>Termin: 5. April 2017</p>

  <h2>Tagesseminar Datenschutz im MAV-Büro</h2>

  <p>Auch für die eigene Arbeit der Mitarbeitervertretung ist das Thema Datenschutz interessant. <br>Was gibt es dabei zu beachten? Mit dieser und weiteren Fragen zu dem Thema werden wir uns in dem Tagesseminar beschäftigen.<br>Termin: 31. Mai 2017</p>


  <h2>Tagesseminar AGG – Das Allgemeine Gleichbehandlungsgesetz</h2>

  <p>Das Tageseminar soll Grundlagen zum Allgemeinen Gleichbehandlungsgesetz vermitteln. Wann liegt ein Verstoß gegen das AGG vor? Gibt es in der Kirche Ausnahmen? Oder auch die Frage nach möglichen Schadenersatzansprüchen wird erläutert.</p>

  <h2>Tagesseminar Aktuelle Rechtsprechung zum Arbeitsrecht</h2>

  <p>Das Tageseminar befasst sich mit arbeitsrechtlicher Rechtsprechung aus den letzten Monaten. Es werden zu verschiedenen Themen Urteile vorgestellt und erläutert.</p>


  <h2>Tagesseminar Der Arbeitsvertrag</h2>

  <p>Das Tagesseminar soll Grundlagen zum Thema Arbeitsvertrag schaffen. Es werden einzelne Punkte erläutert und der wesentliche Inhalt eines Arbeitsvertrags in der Kirche dargestellt.</p>


  <h2>Tagesseminar Der Aufhebungsvertrag</h2>

  <p>Als Alternative zur Kündigung kann ein Arbeitsverhältnis mittels Aufhebungsvertrag beendet werden. Hier gibt es einige Stolperfallen zu beachten. Diese werden auf Grundlage eines typeschen Aufhebungsvertrages besprochen.</p>


  <h2>Tagesseminar Mobbing</h2>

  <p>Mobbing darf nicht sein, kommt aber leider vor. Auch in kirchlichen und diakonischen Dienststellen!<br>Mobbing hat viele Gesichter. Ob Gerüchte verbreitet, Gehässigkeiten ausgeteilt, Informationen zurückgehalten oder Nägel in Autoreifen gestochen werden - das Ziel der Aktionen ist immer gleich: Es wird versucht, eine Kollegin, einen Kollegen systematisch auszugrenzen. Mobbing ist nie eine einzelne Handlung, sondern ein zermürbender Nervenkrieg, der allerdings von Menschen auch durchaus unterschiedlich bewertet werde.<br>Was ist Mobbing? Wann liegt Mobbing vor? Was kann die MAV dagegen unternehmen? Mit diesen Fragen beschäftigen wir uns in diesem Tagesseminar.<br>Datum: 14. März 2017<br>Ort: Geschäftsstelle vkm-rwl</p>


  <h2>Tagesseminar Das Mitarbeitendengespräch</h2>

  <p>Bei der Fülle arbeitsbezogener Gesprächsanlässe – sei es nun ein Pausengespräch, ein Personalgespräch, das Dienstgespräch, Fach-, Jahres- oder gar Konfliktgespräch – kann man schon auf die Idee kommen, dass – bevor man sich verzettelt – doch Schweigen die bessere Alternative ist. Wer will sich schon den Mund verbrennen, weil er/sie nicht weiß, ob er/sie nicht gerade bei dieser Gelegenheit das „Falsche“ sagt oder einfach auf „dem falschen Fuß“ erwischt wird.<br><br>Andererseits kommt jedoch gerade dann das „Gute und Richtige“ nicht zur Sprache, weil eben geschwiegen wird. Die Sicherung guter Zusammenarbeit, die Verbesserung von Arbeitsabläufen und Aufrechterhaltung von Arbeitsmotivation ist so nur schwer möglich. Miteinander reden ist eben einfach wichtig. &nbsp;<br><br>Darum wurde ein standardisiertes Mitarbeitendengespräch entwickelt, welches mittels vorgegebener Leitfragen und Ablaufregelungen dabei helfen soll, diesem Zwiespalt zu entgehen.&nbsp; Wer von der Dienstnehmerseite zu einem solchen Gespräch verpflichtend eingeladen wird, sollte die Spielregeln desselben kennen.<br><br>Dazu dient dieser Seminartag, mit folgenden Themenstellungen:<br><br>- Was ist ein Mitarbeitendengespräch (Arbeitsmappe)<br>- Abgrenzung zwischen Zielvereinbarung und Arbeitsanweisung zu den Bereichen:<br>- Erfüllung von Aufgaben<br>- Umgang mit Zeit<br>- Ausstattung des Arbeitsplatzes<br>- Zusammenarbeit im Team<br>- Zusammenarbeit mit Führungskraft</p>


  <h2>Tagesseminar Besser in Rente gehen!</h2>

  <p>- Welche Zeiten sind für die Rente wichtig?<br>- Welche Renten gibt es ab wann?<br>- Voraussetzungen für eine Rente<br>- Welche Varianten gibt es für die „letzten“ Jahre?<br>- Was darf ich neben der Rente hinzuverdienen? (Flexi-Gesetz)<br>- Welche Ansprüche habe ich bei der KZVK?<br>- Kann ich diese Ansprüche erhöhen?</p>


  <h2>Tagesseminar Teamentwicklung</h2>

  <p>Teamarbeit ist ein weit verbreiteter Begriff. Doch was steckt dahinter?&nbsp; In diesem Seminar werden Strukturen der Teamentwicklung sichtbar gemacht,&nbsp; sowie mögliche Maßnahmen für die Teamleitung erarbeitet. <br>Zum Inhalt <br>-&nbsp;&nbsp; &nbsp;Abgrenzung Gruppe&nbsp; - Teambegriff<br>&nbsp;&nbsp; &nbsp;Welches Selbstverständnis haben wir von unserem Team?<br>&nbsp;&nbsp; &nbsp;Abbildung des Verlaufs von Teamprozessen <br>&nbsp;&nbsp; &nbsp;Wo stehen wir in der Teamentwicklung? <br>-&nbsp;&nbsp; &nbsp;Herausforderungen in den unterschiedlichen Teamphasen begegnen und meistern<br>&nbsp;&nbsp; &nbsp;Welche Handlungsansätze kann es geben? <br>Vorkenntnisse <br>Interesse am Thema, keine besonderen Vorkenntnisse notwendig<br>Methoden<br>Einzel-, Paar- und Gruppenarbeit, Input durch die Referentin,&nbsp; Übungen</p>


  <h2>Tagesseminar Zeitmanagement</h2>

  <p>"Der Mensch hat keine Zeit, wenn er sich nicht Zeit nimmt, Zeit zu haben."<br>Ladislaus Boros<br><br>Zeit ist ein hohes Gut, sie kann nicht vermehrt oder gelagert werden. Im Seminar lernen Sie Methoden für den alltäglichen beruflichen und privaten Gebrauch kennen. Anschließend können Sie Zeitdiebe erkennen, Prioritäten setzen und ergebnisorientiert handeln.<br><br>Zum Inhalt:<br>- Zeitmanagement<br>&gt; Welches Zeitmanagement tut mir gut?<br>- Zeitdiebe/ Zeitmesser<br>&gt; Wo versickert meine Zeit? Wie kann ich Zeitfresser bändigen?<br>- Methoden des Zeitmanagement<br>&gt; Wie schaffe ich es gut, den Überblick über meine Aufgaben und Termine zu &nbsp;<br>&nbsp;&nbsp; halten?<br><br>Ziel:&nbsp; Bessere Prioritäten setzen, Nachvollziehbarkeit von Entscheidungen,&nbsp; &nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Verbesserung der Zeitplanung<br><br>Vorkenntnisse: Interesse am Thema, keine besonderen Vorkenntnisse &nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; notwendig<br>Methoden<br>Einzel-, Paar- und Gruppenarbeit, Input durch die Referentin, Übungen</p>
</div>