<div ng-module="shopping">
  <table class="table" ng-controller="shopController">
    <tr ng-repeat="article in articles">
      <td>{{article.id}}</td>
      <td>{{article.name}}</td>
      <td>{{article.price}}</td>
      <td><a href class="btn btn-default btn-sm" ng-click="addArticle(article)">Hinzufügen</a></td>
    </tr>
  </table>


</div>
<div ng-module="cartApp">
<div ng-controller="cartController">
<div ng-hide="cart.length" class="alert alert-info">Ihr Warenkorb ist noch leer.</div>

<table ng-show="cart.length" class="table">
  <tr ng-repeat="item in cart track by $index">
    <td>{{item.name}}</td>
    <td>{{item.price | currency}}</td>
  </tr>
  <tr>
    <td>{{cart.length}} Artikel</td>

  </tr>
</table>
</div>
</div>