<div class = "col-xs-12">
  <table class="table">
    <tr ng-repeat="article in articles">
      <td>{{article.id}}</td>
      <td>{{article.title}}</td>
      <td>{{article.price}}</td>
    </tr>
  </table>

</div>