<div ng-module="shopping">
  <table class="table" ng-controller="cartController">
    <tr ng-repeat="article in articles">
      <td>{{article.id}}</td>
      <td>{{article.title}}</td>
      <td>{{article.price}}</td>
    </tr>
  </table>

</div>