<div class="col-xs-12">
  <h1>Entgelttabellen</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Entgelttabellen.jpg", :alt => "Entgelttabellen", :class => "img-responsive center-block") %>

</div>
<div class="col-xs-12 col-sm-6">
  <p>
    <a href="../uploads/resume/attachment/2/ETAB2016-2.pdf" target="_blank" style="color: #f59d0e;">BAT-KF Entgelttabellen 2017 als pdf-Datei</a><br />
    <a href="../uploads/resume/attachment/3/EtabAVR-dd2016.pdf" target="_blank" style="color: #f59d0e;">AVR-DD Entgelttabellen 2017 als pdf-Datei</a>
  </p>
  <p>
  <a href="../uploads/resume/attachment/4/Tabellenheft_2016.pdf" target="_blank" style="color: #f59d0e;">Tabellenheft des vkm-rwl</a></p>
</div>