<div class="col-xs-12">
  <h1>Handreichungen</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Handreichungen.jpg", :alt => "Handreichungen", :class => "img-responsive center-block") %>

</div>
<div class="col-xs-12 col-sm-6">
  <p>

    <a href="../uploads/resume/attachment/7/ahue.pdf" target="_blank" style="color: #f59d0e;">Arbeitshilfe für die Überleitung der vorhandenden Mitarbeitenden</a><br />

    <a href="../	/uploads/resume/attachment/8/rso.pdf" target="_blank" style="color: #f59d0e;">Rationalisierungssicherungsordnung</a></p>
</div>