<div class="col-xs-12">
  <h1>Mitarbeiter Vertretungs Gesetz</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_MVG.jpg", :alt => "MVG", :class => "img-responsive center-block") %>

</div>
<div class="col-xs-12 col-sm-6">
  <p>
    Hier gibt es den Text des aktuellen Mitarbeitervertretungsgesetzes:<br />
    <a href="../uploads/resume/attachment/5/MVG-EKvW-LLK2015.pdf" target="_blank" style="color: #f59d0e;">MVG-EKvW-LLK2015.pdf</a>: MVG in der Fassung für Westfalen und Lippe<br />

    <a href="../uploads/resume/attachment/6/MVG-EKiR2015.pdf" target="_blank" style="color: #f59d0e;">MVG-EKiR2015.pdf </a>: MVG in der Fassung für das Rheinland</p>
</div>