<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Ihre Buchung</title>
</head>
<body>
<p>Vielen Dank für Ihre Bestellung<br />

Sie haben folgende Artikel bestellt:</p>

  <table>
    <thead>
      <td>Artikel</td>
      <td>Preis</td>
    </thead>
    <tbody>
  <% @articles.each do |a| %>
     <tr>
       <td><%= a.title %></td>
       <td><%= a.price%>€</td>
     </tr>
  <% end %>
    </tbody>
  </table>
  <p>Sie erhalten in kürze eine Rechnung</p>



<p>Mit freundlichen Grüßen</p>
<p>Das VKM Team</p>
</body>
</html>