<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Ihre Buchung</title>
</head>
<body>
<p>Vielen Dank für Ihre Bestellung<br />

Sie haben folgende Artikel bestellt:</p>
<%
  @articles.each do |a|
    if a['anzahl'] > 1
      @anzahl = true
    end

  end
%>
<table>
  <thead>
  <td>Artikel</td>
  <td>Preis</td>
  <% if @anzahl %>
    <td></td>
    <td>Anzahl</td>
  <% end %>
  </thead>
  <tbody>
  <% @articles.each do |a| %>
      <% @sum = @sum + a['sum'] %>
      <tr>
        <td><%= a['title'] %></td>
        <td><%= a['price'] %>0 €</td>
        <% if a['anzahl'] > 1 %>
          <td></td>
          <td><%= a['anzahl'] %></td>
        <% end %>
      </tr>
  <% end %>
  <tr>
    <td style="text-align: right;">Summe:</td>
    <td><%= @sum %>0 €</td>
  </tr>
  </tbody>
</table>
  <p>Hinweise:<br />Die Rechnung erhalten Sie zusammen mit der Ware.</p>
<p>Bitte beachten Sie, dass je nach Bestellmenge noch entsprechende Versandkosten berechnet werden.<br />Bei Rückfragen dazu, wenden Sie sich bitte an unsere Geschäftsstelle.</p>




<p>Mit freundlichen Grüßen</p>
<p>Ihr vkm-rwl</p>
</body>
</html>