<h1>Allgemeine Geschäftsbedingungen</h1>

<p align="center"><strong>Allgemeine Geschäftsbedingungen (AGB)</strong></p>
<p>&nbsp;</p>
<p align="center">Stand Januar 2015</p>
<p><strong>I. Allgemeine Nutzungsbedingungen</strong></p>
<p><br> <strong>§ 1 Geltungsbereich &amp; Abwehrklausel</strong></p>
<p>(1) Für die über diese Homepage (<a href="http://www.vkm-rwl.de/">www.vkm-rwl.de</a>) begründeten Rechtsbeziehungen zwischen dem Verband kirchlicher Mitarbeiterinnen und Mitarbeiter Rheinland-Westfalen-Lippe (vkm-rwl) (nachfolgend „Anbieter“genannt) und seinen Kunden gelten ausschließlich die folgenden Allgemeinen Geschäftsbedingungen in der jeweiligen Fassung zum Zeitpunkt der Bestellung. <br> <br> (2) Abweichende Allgemeine Geschäftsbedingungen des Kunden werden zurückgewiesen.</p>
<p>&nbsp;</p>
<p><br> <strong>§ 2 Zustandekommen des Vertrages</strong></p>
<p>(1) Die Präsentation der Waren auf unserer Homepage stellt kein bindendes Angebot des Anbieters auf Abschluss eines Kaufvertrages dar. Der Kunde wird hierdurch lediglich aufgefordert, durch eine Bestellung ein Angebot abzugeben. <br> <br> (2) Durch das Absenden der Bestellung per Internet, E-Mail, Telefon, Fax oder über sonstige Kommunikationswege an den vkm-rwl, gibt der Kunde ein verbindliches Angebot gerichtet auf den Abschluss eines Kaufvertrages über die angegeben Artikel ab. Mit dem Absenden der Bestellung erkennt der Kunde auch diese Geschäftsbedingungen als für das Rechtsverhältnis mit dem Anbieter allein maßgeblich an.</p>
<p><br> <strong>§ 3 Eigentumsvorbehalt</strong></p>
<p>Die gelieferte Ware verbleibt bis zur vollständigen Bezahlung im Eigentum des Anbieters.</p>
<p>&nbsp;</p>
<p><strong>§ 4 Fälligkeit</strong></p>
<p>Die Zahlung des Kaufpreises ist mit Lieferung der Artikel fällig. Der Lieferung wird eine entsprechende Rechnung beigefügt.</p>
<p>&nbsp;</p>
<p><br> <strong>§ 5 Gewährleistung</strong></p>
<p>(1) Die Gewährleistungsrechte des Kunden richten sich nach den allgemeinen gesetzlichen Vorschriften, soweit nachfolgend nichts anderes bestimmt ist. Für Schadensersatzansprüche des Kunden gegenüber dem Anbieter gilt die Regelung in § 6 dieser AGB. <br> <br> (2) Die Verjährungsfrist für Gewährleistungsansprüche des Kunden beträgt bei Verbrauchern bei neu hergestellten Sachen 2 Jahre, bei gebrauchten Sachen 1 Jahr. Gegenüber Unternehmern beträgt die Verjährungsfrist bei neu hergestellten Sachen und bei gebrauchten Sachen 1 Jahr. Die vorstehende Verkürzung der Verjährungsfristen gilt nicht für Schadensersatzansprüche des Kunden aufgrund einer Verletzung des Lebens, des Körpers, der Gesundheit sowie für Schadensersatzansprüche aufgrund einer Verletzung wesentlicher Vertragspflichten. Wesentliche Vertragspflichten sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrags notwendig ist, z.B. hat der Anbieter dem Kunden die Sache frei von Sach- und Rechtsmängeln zu übergeben und das Eigentum an ihr zu verschaffen. Die vorstehende Verkürzung der Verjährungsfristen gilt ebenfalls nicht für Schadensersatzansprüche, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Anbieters, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen. Gegenüber Unternehmern ebenfalls ausgenommen von der Verkürzung der Verjährungsfristen ist der Rückgriffsanspruch nach § 478 BGB.</p>
<p>(3) Eine Garantie wird von dem Anbieter nicht erklärt.</p>
<p>&nbsp;</p>
<p><strong>§ 6 Haftungsausschluss</strong></p>
<p>(1) Schadensersatzansprüche des Kunden sind ausgeschlossen, soweit nachfolgend nichts anderes bestimmt ist. Der vorstehende Haftungsausschluss gilt auch zugunsten der gesetzlichen Vertreter und Erfüllungsgehilfen des Anbieters, sofern der Kunde Ansprüche gegen diese geltend macht. <br> <br> (2) Von dem unter Ziffer 1 bestimmten Haftungsausschluss ausgenommen sind Schadensersatzansprüche aufgrund einer Verletzung des Lebens, des Körpers, der Gesundheit und Schadensersatzansprüche aus der Verletzung wesentlicher Vertragspflichten. Wesentliche Vertragspflichten sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrags notwendig ist, z.B. hat der Anbieter dem Kunden die Sache frei von Sach- und Rechtsmängeln zu übergeben und das Eigentum an ihr zu verschaffen. Von dem Haftungsausschluss ebenfalls ausgenommen ist die Haftung für Schäden, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Anbieters, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen. <br> <br> (3) Vorschriften des Produkthaftungsgesetzes (ProdHaftG) bleiben unberührt.</p>
<p>&nbsp;</p>
<p><strong>§ 7 Abtretungs- und Verpfändungsverbot</strong></p>
<p>Die Abtretung oder Verpfändung von dem Kunden gegenüber dem Anbieter zustehenden Ansprüchen oder Rechten ist ohne Zustimmung des Anbieters ausgeschlossen, sofern der Kunde nicht ein berechtigtes Interesse an der Abtretung oder Verpfändung nachweist.</p>
<p>&nbsp;</p>
<p><strong>§ 8 Aufrechnung</strong></p>
<p>Ein Aufrechnungsrecht des Kunden besteht nur, wenn seine zur Aufrechnung gestellte Forderung rechtskräftig festgestellt wurde oder unbestritten ist.</p>
<p>&nbsp;</p>
<p><strong>§ 9 Rechtswahl &amp; Gerichtsstand</strong></p>
<p>(1) Auf die vertraglichen Beziehungen zwischen dem Anbieter und dem Kunden findet das Recht der Bundesrepublik Deutschland Anwendung. Von dieser Rechtswahl ausgenommen sind die zwingenden Verbraucherschutzvorschriften des Landes, in dem der Kunde seinen gewöhnlichen Aufenthalt hat. Die Anwendung des UN-Kaufrechts ist ausgeschlossen. <br> <br> (2) Gerichtsstand für alle Streitigkeiten aus dem Vertragsverhältnis zwischen dem Kunden und dem Anbieter ist der Sitz des Anbieters, sofern es sich bei dem Kunden um einen Kaufmann, eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen handelt.</p>
<p>&nbsp;</p>
<p><strong>§ 10 Salvatorische Klausel</strong></p>
<p>Sollte eine Bestimmung dieser Allgemeinen Geschäftsbedingungen unwirksam sein, wird davon die Wirksamkeit der übrigen Bestimmungen nicht berührt.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>II. Ergänzende Nutzungsbedingungen für den Kauf physischer Produkte</strong></p>
<p>&nbsp;</p>
<p><strong>§ 1 Widerrufsrecht für physische Produkte</strong></p>
<p>Verbrauchern steht ein Widerrufsrecht nach folgender Maßgabe zu, wobei Verbraucher jede natürliche Person ist, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden können:</p>
<p>&nbsp;</p>
<p><strong>Widerrufsbelehrung</strong></p>
<p><strong>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag</strong></p>
<ul>
  <li><strong>an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat, wenn Sie eine Ware oder mehrere Waren im Rahmen einer einheitlichen Bestellung bestellt haben und die Ware bzw. Waren einheitlich geliefert wird bzw. werden;</strong></li>
  <li><strong>an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die letzte Ware in Besitz genommen haben bzw. hat, wenn Sie mehrere Waren im Rahmen einer einheitlichen Bestellung bestellt haben und die Waren getrennt geliefert werden;</strong></li>
  <li><strong>an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die letzte Teilsendung oder das letzte Stück in Besitz genommen haben bzw. hat, wenn Sie eine Ware bestellt haben, die in mehreren Teilsendungen oder Stücken geliefert wird.</strong></li>
</ul>
<p><strong>Wenn mehrere der vorstehenden Alternativen vorliegen, beginnt die Widerrufsfrist erst zu laufen, wenn Sie oder ein von Ihnen benannter Dritter, der nicht Beförderer ist, die letzte Ware bzw. die letzte Teilsendung bzw. das letzte Stück in Besitz genommen haben bzw. hat. Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Verband kirchlicher Mitarbeiterinnen und Mitarbeiter Rheinland-Westfalen-Lippe (vkm-rwl), Telefonnummer: +49 (0)231 / 57 97 43, Telefaxnummer: +49 (0)231 57 97 54, E-Mail-Adresse: &#x69;&#x6E;&#102;&#x6F;&#x40;&#118;&#107;&#x6D;&#45;&#x72;&#x77;&#x6C;&#x2E;&#x64;&#x65;) mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das <span style="text-decoration: underline;">beigefügte Muster-Widerrufsformular</span> verwenden, das jedoch nicht vorgeschrieben ist. Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.</strong></p>
<p>&nbsp;</p>
<p><strong>Folgen des Widerrufs</strong></p>
<p><strong>Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.</strong></p>
<p><strong>Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist. Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags unterrichten, an uns zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden. Sie tragen die unmittelbaren Kosten der Rücksendung der Waren. Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurückzuführen ist.</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
<p><strong>§ 2 Eigentumsvorbehalt</strong></p>
<p>Bis zur vollständigen Zahlung bleiben die gelieferten Produkte Eigentum vom vkm-rwl.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>§ 3 Rücksendekosten bei Widerruf</strong></p>
<p>Macht der Verbraucher von seinem Widerrufsrecht Gebrauch, so hat er die unmittelbaren Kosten für die Rücksendung der Ware zu tragen.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p align="center"><strong>Muster-Widerrufsformular</strong></p>
<p align="center">&nbsp;</p>
<p>(Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.)</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>An den vkm-rwl</p>
<p>Beratgerstr. 36</p>
<p>44149 Dortmund</p>
<p>&nbsp;</p>
<p>Fax: +49 (0)23157 97 54</p>
<p>E-Mail: &#x69;&#x6E;&#102;&#x6F;&#x40;&#118;&#107;&#x6D;&#45;&#x72;&#x77;&#x6C;&#x2E;&#x64;&#x65;:</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf &nbsp;folgender Waren</p>
<p>&nbsp;</p>
<p>Bestellt am(*)/erhalten am(*):</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Name des/der Verbraucher(s):</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Anschrift des/der Verbraucher(s):</p>
<p>&nbsp;</p>
<p>Unterschrift des/der Verbraucher(s) (nur bei Mitteilungen auf Papier)</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Datum</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>_______________________</p>
<p>(*) Unzutreffendes streichen</p>