<h1>Arbeitsrechtliche Kommission der Diakonie Deutschland</h1>

<p><a href="http://diakonie-ark.de/" target="_blank">Homepage der Dienstnehmerseite der ARK-DD</a></p>
<p><a href="http://www.diakonie.de/arbeitsvertragsrichtlinien-diakonie-deutschland-9449.html" target="_blank">Arbeitsvertragsrichtlinien AVR-DD</a></p>
<h3><em><strong>Arbeitnehmer</strong></em></h3>
<table class="table-responsive table-hover">
  <tbody>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p><strong>Mitglied</strong></p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p><strong>Stellvertretendes Mitglied</strong></p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Daniel Arp</p>
      <p>Marburger Bund Landesverband Schleswig-Holstein, Bad Segeberg</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Christine Saß</p>
      <p>Marburger Bund Landesverband Schleswig-Holstein, Bad Segeberg</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Hans-Ulrich Barth</p>
      <p>Augustinum Service GmbH, Stuft- gart</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Hans Gundel</p>
      <p>Wohnstift Augustinum Schweinfurt, Schweinfurt</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Angela Dickhöver-Döring</p>
      <p>Marburger Bund Landesverband Hamburg, Hamburg</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Dr. Hans-Christoph Kühnau</p>
      <p>Marburger Bund Landesverband Hamburg, Hamburg</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Dr. Karlheinz Kurfeß</p>
      <p>Hunsrück Klinik, Simmern</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Michael Schaubruch</p>
      <p>Hunsrück Klinik, Simmern</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Frank Lemmer,</p>
      <p>Theodor Fliedner Stiftung, Mülheim an der Ruhr</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Martin Serrano Mundort</p>
      <p>Ev. Jugendhilfe Godesheim gGmbH, Bonn</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Jürgen Liewig</p>
      <p>Diakonisches Werk in Hessen und Nassau e.V., Frankfurt/Main</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Isabel Schusky</p>
      <p>Stiftung Scheuern, Nassau</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Rolf Lübke</p>
      <p>Marburger Bund Landesverband Nordrhein-Westfalen/Rheinland- Pfalz, Köln</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Dieter-Paul Neumann</p>
      <p>Marburger Bund Landesverband Nordrhein-Westfalen/Rheinland-Pfalz, Köln</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Jörg Nagel</p>
      <p>Diakonisches Werk Innere Mission Leipzig e.V., Leipzig</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Ralph Müller</p>
      <p>Zeisigwaldkliniken Bethanien Chem-nitz, Chemnitz</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Michael Neunhöffer</p>
      <p>Diakonisches Werk Bayern, Nürn- berg</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Thomas Hinkl</p>
      <p>Rummelsberger Diakonie, Schwarzenbruck</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Klaus Riedel</p>
      <p>vkm-rwl</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Andreas Schneider</p>
      <p>Diakonisches Werk Bethanien e.V., Solingen</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Sven Sprunghofer</p>
      <p>Samariteranstalten, Rauen</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Dr. Thomas Roh</p>
      <p>Martin-Luther-Krankenhausbetrieb GmbH, Berlin</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Thomas Zischler</p>
      <p>Johanniter-Unfall-Hilfe, Nürnberg</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Ralf Depenau</p>
      <p>Johanniter Unfall-Hilfe, Hannover</p>
    </td>
  </tr>
  </tbody>
</table>
<h3><em><strong>Arbeitgeber</strong></em></h3>
<div class="WordSection1">
  <table class="table-responsive table-hover">
    <tbody>
    <tr>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p><strong>Mitglied</strong></p>
      </td>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p><strong>Stellvertretendes Mitglied</strong></p>
      </td>
    </tr>
    <tr>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Dr. Günther Bauer</p>
        <p>Innere Mission München, München</p>
      </td>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Evelyn Henseleit</p>
        <p>Ev.-Luth. Diakoniewerk Neuendet-telsau, Neuendettelsau</p>
      </td>
    </tr>
    <tr>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Matthias Bitzmann</p>
        <p>Diakonisches Werk der Ev.-Luth Landeskirche Sachsens e.V., Radebeul</p>
      </td>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Rainer Neumer</p>
        <p>Diakoniestift. Weimar Bad Lobens-tein gGmbH, Weimar</p>
      </td>
    </tr>
    <tr>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Gabriele Fischmann-Schulz</p>
        <p>Diakonisches Werk der Ev. Kirche im Rheinland, Düsseldorf</p>
      </td>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Karsten Schmidt</p>
        <p>Diakonie in Südwestfalen gGmbH, Siegen</p>
      </td>
    </tr>
    <tr>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Walter Karl</p>
        <p>Stiftung Innere Mission Darmstadt, Darmstadt</p>
      </td>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Michael Conzelmann</p>
        <p>Baunataler Diakonie Kassel e.V., Baunatal</p>
      </td>
    </tr>
    <tr>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Angelika Lukesch</p>
        <p>Pfeiffersche Stiftungen Magdeburg- Cracau, Magdeburg</p>
      </td>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Sven Kost</p>
        <p>Diako Westthüringen gGmbH, Eisenach</p>
      </td>
    </tr>
    <tr>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Philipp Mauritius</p>
        <p>Diak. Werk Schleswig-Holstein, Rendsburg</p>
      </td>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Fred Mente</p>
        <p>Vorwerker Heime - Diakonische Einrichtungen e.V., Lübeck</p>
      </td>
    </tr>
    <tr>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Ulrich Paul</p>
        <p>Diakonisches Werk der Ev. Lan- desirche in Baden, Karlsruhe</p>
      </td>
      <td style="border-color: #000000; border-style: solid; border-width: 1px;">
        <p>Alexandra Reimann Johanniter-Unfall-Hilfe e.V. Bundesgeschäftsstelle, Berlin</p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<table class="table-responsive table-hover">
  <tbody>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Dietmar Prexl</p>
      <p>Diakonie Stetten e.V. in Kernen, Remstal</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Roland Stiebler</p>
      <p>Ev. Heimstiftung GmbH, Stuttgart</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Daniel Schmid</p>
      <p>Evangelisches Johannesstift SbR, Berlin</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Martin Peltz</p>
      <p>Hoffnungstaler Stiftung Lobetal, Bernau</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Michael Schmidt</p>
      <p>Stiftung Friedehorst, Bremen</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Matthias Dargel</p>
      <p>Christliches Jugenddorfwerk Deutschlands e.V., Ebersbach</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Thomas Sopp</p>
      <p>Ev. Krankenhaus Bielefeld gGmbH, Bielefeld</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Wilfried Koopmann</p>
      <p>Ev. Perthes-Werk e.V., Münster</p>
    </td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Christian Sundermann</p>
      <p>Stiftung Bethel Diakonie Freistatt, Hannover</p>
    </td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">
      <p>Gerhard Krause</p>
      <p>Diakonie in Niedersachsen e.V., Hannover</p>
    </td>
  </tr>
  </tbody>
</table>
<p><strong>Vorsitzender der Arbeitsrechtlichen Kommission für die Dauer eines Jahres wurde&nbsp;<strong>Matthias Bitzmann von der Dienstgeberseite. Herr Bitzmann ist Arbeitsrechtsreferent im Diakonischen Werk Sachsen in Radebeul.</strong> <br></strong></p>
<p><strong>Als Stellvertretender Vorsitzende wurde Klaus Riedel vom vkm-rwl gewählt.<br></strong></p>