<h1>ARK-RWL</h1>

<h3>Rheinisch-Westfälisch-Lippische Arbeitsrechtliche Kommission</h3>
<table class="table table-responsive table-striped half">
  <tbody>
  <tr>
    <td><strong>Mitglieder für die Zeit <br>von 2015 bis 2018</strong></td>
    <td><strong>Dienstnehmer</strong></td>
  </tr>
  <tr>
    <td>für den vkm-rwl:</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Kamps, Jörg</td>
    <td>Integrationsassistent</td>
  </tr>
  <tr>
    <td>Kunze, Andreas</td>
    <td>Verwaltungsangestellter</td>
  </tr>
  <tr>
    <td>Posthaus, Michael</td>
    <td>Verwaltungsbeamter</td>
  </tr>
  <tr>
    <td>Wessels, Michael</td>
    <td>Verwaltungsangestellter</td>
  </tr>
  <tr>
    <td>Radig, Christopher</td>
    <td>Küster</td>
  </tr>
  <tr>
    <td>Riedel, Klaus</td>
    <td>Küster</td>
  </tr>
  <tr>
    <td>Thormann, Dieter</td>
    <td>Diakon</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>für den Marburger Bund:</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Dr. Kurfeß</td>
    <td>Arzt</td>
  </tr>
  <tr>
    <td>Neumann, D.-P.</td>
    <td>Rechtsanwalt</td>
  </tr>
  </tbody>
</table>
<h3><strong>Dienstgeber</strong></h3>
<table class="table table-responsive table-striped half" >
  <tbody>
  <tr>
    <td >H.Juhl</td>
    <td >EKvW</td>
  </tr>
  <tr>
    <td >Sup. Schlüter</td>
    <td >EKvW</td>
  </tr>
  <tr>
    <td >Dr. Klostermann</td>
    <td >EKiR</td>
  </tr>
  <tr>
    <td >J.Deterding</td>
    <td >EKiR</td>
  </tr>
  <tr>
    <td >H.Henke</td>
    <td >DW Westfalen</td>
  </tr>
  <tr>
    <td>W.Koopmann</td>
    <td>DW Westfalen</td>
  </tr>
  <tr>
    <td>K.Ehrmann</td>
    <td>DW Rheinland</td>
  </tr>
  <tr>
    <td>K. Schwenke</td>
    <td>DW Rheinland</td>
  </tr>
  <tr>
    <td>M.Ulbrich</td>
    <td>Diakonisches Werk in Lippe und Lippische Landeskirche.</td>
  </tr>
  </tbody>
</table>