<h1>ARK-RWL</h1>

<h3>Rheinisch-Westfälisch-Lippische Arbeitsrechtliche Kommission</h3>
<table class="table-responsive table-hover">
  <tbody>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;"><em><strong>Mitglieder für die Zeit <br>von 2015 bis 2018</strong></em></td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;"><em><strong>Dienstnehmer</strong></em></td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;"><em>für den vkm-rwl:</em></td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;</td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Kamps, Jörg</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Integrationsassistent</td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Kunze, Andreas</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Verwaltungsangestellter</td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Posthaus, Michael</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Verwaltungsbeamter</td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Wessels, Michael</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Verwaltungsangestellter</td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Radig, Christopher</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Küster</td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Riedel, Klaus</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Küster</td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Thormann, Dieter</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Diakon</td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;</td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;"><em>für den Marburger Bund:</em></td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;</td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Dr. Kurfeß</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Arzt</td>
  </tr>
  <tr>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Neumann, D.-P.</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Rechtsanwalt</td>
  </tr>
  </tbody>
</table>
<h3><strong><em>Dienstgeber</em></strong></h3>
<table class="table-responsive table-hover" >
  <tbody>
  <tr>
    <td style="width: 133px; border-color: #000000; border-style: solid; border-width: 1px;">H.Juhl</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">EKvW</td>
  </tr>
  <tr>
    <td style="width: 133px; border-color: #000000; border-style: solid; border-width: 1px;">Sup. Schlüter</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">EKvW</td>
  </tr>
  <tr>
    <td style="width: 133px; border-color: #000000; border-style: solid; border-width: 1px;">Dr. Klostermann</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">EKiR</td>
  </tr>
  <tr>
    <td style="width: 133px; border-color: #000000; border-style: solid; border-width: 1px;">J.Deterding</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">EKiR</td>
  </tr>
  <tr>
    <td style="width: 133px; border-color: #000000; border-style: solid; border-width: 1px;">H.Henke</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">DW Westfalen</td>
  </tr>
  <tr>
    <td style="width: 133px; border-color: #000000; border-style: solid; border-width: 1px;">W.Koopmann</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">DW Westfalen</td>
  </tr>
  <tr>
    <td style="width: 133px; border-color: #000000; border-style: solid; border-width: 1px;">K.Ehrmann</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">DW Rheinland</td>
  </tr>
  <tr>
    <td style="width: 133px; border-color: #000000; border-style: solid; border-width: 1px;">K. Schwenke</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">DW Rheinland</td>
  </tr>
  <tr>
    <td style="width: 133px; border-color: #000000; border-style: solid; border-width: 1px;">M.Ulbrich</td>
    <td style="border-color: #000000; border-style: solid; border-width: 1px;">Diakonisches Werk in Lippe und Lippische Landeskirche.</td>
  </tr>
  </tbody>
</table>