<div class="col-xs-12">
  <h1>ARK-RWL</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_ARK-RWL.jpg", :alt => "ARK-RWL", :class => "img-responsive center-block") %>
</div>

<div class="col-xs-12">
	<h3><strong>Rheinisch-Westfälisch-Lippische Arbeitsrechtliche Kommission</strong></h3>
  <table class="table table-responsive table-striped half">
    <tbody>
    <tr>
      <td><strong>Mitglieder für die Zeit von 2015 bis 2018</strong></td>
      <td><strong>Dienstnehmer</strong></td>
    </tr>
    <tr>
		<td><strong>für den vkm-rwl:</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Jörg Kamps</td>
      <td>Integrationsassistent</td>
    </tr>
    <tr>
      <td>Andreas Kunze</td>
      <td>Verwaltungsangestellter</td>
    </tr>
    <tr>
      <td>Michael Posthaus</td>
      <td>Verwaltungsbeamter</td>
    </tr>
    <tr>
      <td>Michael Wessels</td>
      <td>Verwaltungsangestellter</td>
    </tr>
    <tr>
      <td>Christopher Radig</td>
      <td>Küster</td>
    </tr>
    <tr>
      <td>Klaus Riedel</td>
      <td>Küster</td>
    </tr>
    <tr>
      <td>Dieter Thormann</td>
      <td>Diakon</td>
    </tr>
    <tr>
		<td><strong>für den Marburger Bund:</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Dr. Kurfeß</td>
      <td>Arzt</td>
    </tr>
    <tr>
      <td>D.-P. Neumann</td>
      <td>Rechtsanwalt</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-xs-12">
  <h3><strong>Dienstgeber</strong></h3>
  <table class="table table-responsive table-striped half" >
    <tbody>
    <tr>
      <td >H. Juhl</td>
      <td >EKvW</td>
    </tr>
    <tr>
      <td >Sup. Schlüter</td>
      <td >EKvW</td>
    </tr>
    <tr>
      <td >Dr. Klostermann</td>
      <td >EKiR</td>
    </tr>
    <tr>
      <td >J. Deterding</td>
      <td >EKiR</td>
    </tr>
    <tr>
      <td >H. Henke</td>
      <td >DW Westfalen</td>
    </tr>
    <tr>
      <td>W. Koopmann</td>
      <td>DW Westfalen</td>
    </tr>
    <tr>
      <td>K. Ehrmann</td>
      <td>DW Rheinland</td>
    </tr>
    <tr>
      <td>K. Schwenke</td>
      <td>DW Rheinland</td>
    </tr>
    <tr>
      <td>M. Ulbrich</td>
      <td>Diakonisches Werk in Lippe und Lippische Landeskirche</td>
    </tr>
    </tbody>
  </table>
</div>