<h1>Teilnahmebedingungen</h1>

<p><strong>§ 1 Anmeldung</strong></p>
<p>(1) Für alle Veranstaltungen des vkm-rwl ist eine vorherige Anmeldung (per Brief, per Fax oder online über das Internet) erforderlich. Online-Anmeldungen können Sie über unsere Homepage www.vkm-rwl.de vornehmen.</p>
<p>(2) Die Berücksichtigung der Anmeldung erfolgt nach dem Datum des Eingangs bei uns. Bei nicht ausreichenden Teilnehmeranmeldungen behalten wir uns die Absage der Seminare vor.</p>
<p><strong>§ 2 Preise</strong></p>
<p>(1) Die Teilnehmerkosten betragen pro Seminar für die</p>
<p>3-Tagesseminare&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 490,00 €</p>
<p>2-Tagesseminare&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 360,00 €</p>
<p>Tagesseminare&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 110,00 €</p>
<p>(2) Der Teilnehmerbeitrag beinhaltet, je nach Möglichkeiten des Tagungshauses, Übernachtung im Einzelzimmer bei Mehrtagesseminaren, Verpflegung und Lehrmaterial, falls nicht anders beschrieben.</p>
<p>(3) Der Seminarbeitrag verringert sich pro Seminar um die Übernachtungsgebühr, falls eine Übernachtung nicht gewünscht ist.</p>
<p style="text-align: left;" align="center">(4) Diese Gebühren sind nach Rechnungserhalt innerhalb von 14 Tagen auf das Konto des Verbandes bei der</p>
<p align="center">KD Bank eG</p>
<p align="center">IBAN: DE89 3506 0190 2112 9330 10</p>
<p align="center">BIC: GENODED1DKD</p>
<p>mit dem Vermerk des Namens des Teilnehmers/der Teilnehmerin sowie Rechnungsnummer zu überweisen.</p>
<p><strong>§ 3 Absagen durch den Kunden</strong></p>
<p>Wir weisen darauf hin, dass bei Absage nach erfolgter Anmeldung eine Bearbeitungsgebühr in Höhe von 50,00 € in Rechnung gestellt werden muss. Erfolgt die Rücktrittsmeldung später als 4 Wochen vor Veranstaltungsbeginn sind wir leider gezwungen, den vollen Seminarbetrag zur Deckung der entstandenen Kosten zu erheben. Dies gilt nicht, wenn der Platz mit einem Ersatzteilnehmer/einer Ersatzteilnehmerin besetzt werden kann.</p>
<p><strong>§ 4 Absage von Seminaren und notwendige Programmänderungen</strong></p>
<p>Eine Veranstaltung kann aus wichtigem Grund, z. B. bei zu geringer Teilnehmerzahl, bei Ausfall bzw. Erkrankung eines Referenten, Hotelschließung oder höherer Gewalt, abgesagt werden. Im Fall einer zu geringen Teilnehmerzahl erfolgt die Absage nicht später als eine Woche vor Beginn der Veranstaltung. In allen anderen Fällen einer Absage aus wichtigem Grund sowie in Fällen notwendiger Änderungen des Programms, wird der vkm-rwl die Teilnehmer so rechtzeitig wie möglich informieren. Muss ausnahmsweise eine Veranstaltung abgesagt oder verschoben werden, erstatten wir Ihnen umgehend die bezahlte Teilnahmegebühr. Weitergehende Ansprüche sind ausgeschlossen, außer in Fällen vorsätzlichen oder grob fahrlässigen Verhaltens der gesetzlichen Vertreter, Angestellten oder sonstigen Erfüllungsgehilfen des vkm-rwl.</p>
<p><strong>§ 5 Arbeitsunterlagen</strong></p>
<p>Die Arbeitsunterlagen werden Ihnen zu Beginn der Veranstaltung durch unsere Tagungsbetreuer ausgehändigt.</p>
<p><strong>§ 6 Urheberrecht</strong></p>
<p>Die Arbeitsunterlagen des vkm-rwl sind urheberrechtlich geschützt und dürfen auch nicht auszugsweise ohne Einwilligung des vkm-rwl. vervielfältigt oder verbreitet werden. Der vkm-rwl behält sich alle Rechte vor. Die Arbeitsunterlagen stehen exklusiv den Teilnehmern zur Verfügung.</p>
<p><strong>§ 7 Datenschutz</strong></p>
<p>Uns übermittelte Daten werden maschinell zur Abwicklung Ihrer Seminarbuchung und zur Information über weitere Veranstaltungen verarbeitet. Die Namens- und Anschriftendaten werden über die Teilnehmerliste den anderen Seminarteilnehmern zugänglich gemacht</p>
