<h1>Fachgruppen</h1>

<p>Die Mitglieder des vkm-rwl sind zugeordnet:</p>
<p>Berufsverbänden oder Fachgruppen, die sich um die arbeitsrechtlichen, tarifrechtlichen und berufsspezifischen Belange der Mitglieder der einzelnen Arbeitsbereiche kümmern. Die Berufsverbände oder Fachgruppen werden durch Mitgliederversammlungen und Vorstände geleitet.<br> Die zurzeit bestehenden Gliederungen sind unten aufgeführt. Sie finden dort auch Ihren Arbeitsbereich. Bei Bedarf können innerhalb der Fachgruppen Arbeitsgemeinschaften für Spezialbereiche, ggf. weitere Fachgruppen gebildet werden.</p>
<p>Fachgruppen wirken mit :</p>
<ul>
  <li>bei der Beratung und Information der Mtglieder,</li>
  <li>bei der Wahrnehmung von Interessen des vkm-rwl in den Diensstellen und Einrichtungen,</li>
  <li>bei der Werbung neuer Mitglieder,</li>
  <li>bei der Bemühung um Kandidatinnen und Kandidaten für Mitarbeitervertretungen,</li>
  <li>bei der Erarbeitung von Anregungen für die Arbeit des vkm-rwl.</li>
</ul>
<p>&nbsp;</p>
<table class="table table-responsive table-striped">
  <tbody>
  <tr>
    <td><strong>Berufsverband </strong></td>
    <td><strong>Vorsitz </strong></td>
    <td><strong>Adresse </strong></td>
    <td><strong>Link </strong></td>
  </tr>
  <tr align="left" valign="top">
    <td>Arbeitsgemeinschaft Rheinischer Küsterinnen und Küster</td>
    <td>Manfred Heller</td>
    <td>Bebelstr. 232<br> 46049 Oberhausen<br> Tel.: 0208-84 84 656</td>
    <td><a href="http://www.arkk.de" target="_top">http://www.arkk.de</a></td>
  </tr>
  <tr align="left" valign="top">
    <td>Ev. Küstervereinigung Westfalen Lippe</td>
    <td>Rüdiger Tepel</td>
    <td>
      <p>Haustadt 7<span style="color: #000000;"><br></span>58540 Meinerzhagen<span style="color: #000000;"><br></span>Tel.: 02358 637</p>
      <p><span style="color: #000000;"><a href="mailto:vorsitz@kuester-westfalen.de">vorsitz@kuester-westfalen.de </a> <br> </span></p>
    </td>
    <td><a href="http://www.kuester-westfalen.de" target="_top">http://www.kuester-westfalen.de</a></td>
  </tr>
  <tr align="left" valign="top">
    <td>
      <p>Rheinischer Verband der Mitarbeiterinnen und Mitarbeiter im evangelisch-kirchlichen Verwaltungsdienst RVM</p>
      <p>Geschäftsstelle</p>
      <p>Schirmerstraße 1 a<br> 52428 Jülich</p>
      <p>Telefon 02461 9748-31<br> Telefax 02461 9748-99</p>
    </td>
    <td>Susanne Romagno</td>
    <td>Tel. dienstlich:<br>0211 456222</td>
    <td><a href="http://www.rvm-homepage.de" target="_top">http://www.r-v-m.de</a></td>
  </tr>
  <tr align="left" valign="top">
    <td>Westf.-Lipp. Verband der Mitarbeiterinnen und Mitarbeiter im Ev.-Kirchl.Verwaltungsdienst</td>
    <td>Hans Ulrich Krause</td>
    <td>Postfach 102241 <br> Tel: 0231 5776103<br> 44022 Dortmund</td>
    <td>&nbsp;<a href="http://www.wlv-berufsverband.de/" target="_blank">http://www.wlv-berufsverband.de</a></td>
  </tr>
  <tr align="left" valign="top">
    <td>Landesverband Ev. Kirchenmusiker und Ev. Kirchenchöre Westfalens</td>
    <td>Ingomar Kury</td>
    <td>Iserlohner Str. 25 <br> Tel: 0231 464873<br> 58239 Schwerte</td>
    <td>&nbsp;</td>
  </tr>
  <tr align="left" valign="top">
    <td><strong>Fachgruppen</strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr align="left" valign="top">
    <td>Gemeindepädagogik, Bildung und Beratung <br>Rheinland-Westfalen-Lippe (GBB)</td>
    <td>Klaus-Martin Ellerbrock</td>
    <td>Schöffenweg 21 <br> 44309 Dortmund</td>
    <td>&nbsp;</td>
  </tr>
  <tr align="left" valign="top">
    <td>Fachgruppe Diakonie Rheinland Westfalen Lippe</td>
    <td>Andreas Ullrich</td>
    <td>Burgweg 5, <br>55595 Burgsponheim</td>
    <td><a href="mailto:andreas@ullrich-arbeit.de">andreas@ullrich-arbeit.de</a></td>
  </tr>
  <tr align="left" valign="top">
    <td>Tageseinrichtungen und Heime für Kinder Westfalen / Lippe</td>
    <td>Gudrun Koldewey</td>
    <td>
      <p>Ev. Kita Wuppertal<br>Am Wichelhausberg 5<br>42275 Wuppertal</p>
      <p>Tel. 0202 97443109</p>
    </td>
    <td>
      <p><a href="mailto:FG-KiTa@vkm-rwl.de">FG-KiTa@vkm-rwl.de</a></p>
    </td>
  </tr>
  <tr align="left" valign="top">
    <td >Fachgruppe Hauswirtschaft und Haustechnik Rheinland</td>
    <td ><strong>Gunther Holzhauer</strong></td>
    <td valign="top">
      <p>Sportplatzstr. 53-55 <br>76857 Rinnthal<br>Tel.: 06346-928002</p>
    </td>
    <td ><a href="mailto:gunther@holzhauer.org"><strong>gunther@holzhauer.org</strong></a></td>
  </tr>
  <tr align="left" valign="top">
    <td >Fachgruppe Hauswirtschaft / Haustechnik Westfalen / Lippe</td>
    <td >Andrea Pohl</td>
    <td >Liebigstr. 5A<br> 58095 Hagen</td>
    <td ><a href="mailto:fg-hw/ht-wl@vkm-rwl.de">fg-hw/ht-wl@vkm-rwl.de</a></td>
  </tr>
  </tbody>
</table>