<div class="list-group">
  <a href="/fachgruppen" class="list-group-item">Fachgruppen</a>
</div>
<div class="list-group">
  <a href="/seminarinhalte" class="list-group-item">Seminarinhalte</a>
</div>
<div class="list-group">
  <a href="/mebers" class="list-group-item">Seminartermine</a>
</div>
<div class="list-group">
  <a href="/bedingungen" class="list-group-item">Teilnahmebedingungen</a>
</div>