<% #content_for :title do %><% #end %>

<% if current_user.present? %>

      <div class="list-group">
        <a href="/administrator/rooms/#" class="list-group-item">Veranstaltungssystem</a>
      </div>



<%else%>


<%end%>