<% content_for :title do %>TEST Kalender<% end %>


<div ng-app="app" ng-controller="appController" ng-cloak>

  <div>{{alertMessage}}</div>

  <div class="pull-left">
    <md-button class="md-raised" ng-click="changeView('month')">month</md-button>
    <md-button class="md-raised" ng-click="changeView('basicWeek')">week</md-button>
    <md-button class="md-raised" ng-click="changeView('basicDay')">day</md-button>
  </div>

  <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar">
  </div>

</div>

