<div class="col-xs-12">
  <h1>Zugangsbereich</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Zugangsbereich.jpg", :alt => "Zugangsbereich", :class => "img-responsive center-block") %>
</div>

<% if current_user.present? %>
    <div class="col-xs-12">
    <% if current_user.has_role?(:fortbildung) || current_user.has_role?(:admin)%>
      <div class="list-group">
        <a href="/administrator/rooms" class="list-group-item" target="_self">Veranstaltungssystem</a>
      </div>
    <% end %>
    <% if current_user.has_role?(:newsletter) || current_user.has_role?(:admin)%>

      <div class="list-group">
        <a href="/news_contents" class="list-group-item" target="_self">Newssystem</a>
      </div>
    <% end %>
    <% if current_user.has_role?(:news) || current_user.has_role?(:admin)%>
      <div class="list-group">
        <a href="/admin/news" class="list-group-item" target="_self">News verwalten</a>
      </div>
    <% end %>
    <% if current_user.has_role?(:shop) || current_user.has_role?(:admin)%>
      <div class="list-group">
        <a href="/articles" class="list-group-item" target="_self">Artikelliste</a>
      </div>
    <% end %>
    <% if current_user.has_role?(:diakonie) || current_user.has_role?(:admin)%>
        <div class="list-group">
          <a href="/pages/Diakonie" class="list-group-item" target="_self">Diakonie Seite Bearbeiten</a>
        </div>
    <% end %>
    <% if current_user.has_role?(:admin) %>
        <div class="list-group">
          <a href="/pages/" class="list-group-item" target="_self">Diakonie Seite Bearbeiten</a>
        </div>
    <% end %>
    </div>


<%else%>


<%end%>