<div class="col-xs-12">
  <h1>Zugangsbereich</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Zugangsbereich.jpg", :alt => "Zugangsbereich", :class => "img-responsive center-block") %>
</div>

<% if current_user.present? %>
    <div class="col-xs-12">

      <div class="list-group">
        <a href="/administrator/rooms/#/" class="list-group-item" target="_self">Veranstaltungssystem</a>
      </div>

    <div class="list-group">
      <a href="/news_contents" class="list-group-item" target="_self">Newssystem</a>
    </div>

    </div>


<%else%>


<%end%>