<div class="col-xs-12">
  <h1>Informationen - Schlichtungsstellen und Kirchengerichte</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Informationen.jpg", :alt => "Informationen", :class => "img-responsive center-block") %>
</div>
<div class="col-sm-6">
  <p>Schlichtungsstelle nach dem Mitarbeitervertretungsgesetz der Evangelischen Kirche von Westfalen<br>Geschäftsstelle Postfach 10 10 5133510 Bielefeld</p>
  <p><span style="text-decoration: underline;">Die Synode der EKvW hat für die Amtszeit 2015 bis 2020 folgende vkm-rwl Mitglieder gewählt:</span><br>
  Für die <strong>erste Kammer (Kirche)</strong> wurden folgende 2. Beisitzer gewählt:<br>
  Herr Jürgen Krause, Hagen<br>
  Stellvertreter Frau Cornelia Kuosch, Bielefeld</p>
  <p><span style="text-decoration: underline;">Für die <strong>zweite Kammer (Diakonie)</strong> wurden folgende 2. Beisitzer gewählt:</span><br>
  Herr Jörg Kamps, Recklinghausen<br>
  1. Stellvertreter: Dieter Thormann, Löhne<br>
  2. Stellvertreter: Andreas Korff, Bad Oeynhausen<br>
  3. Stellvertreter: Detlef Becker, Castrop-Rauxel<br>
  4. Stellvertreter: Peter Nagler, Münster<br>
  5. Stellvertreter: Kerstin Bothner, Westerkappeln</p>
  <hr>
  <p>Schlichtungsstelle beim <strong>Diakonischen Werk der Evangelischen Kirche von Westfalen</strong><br><br>Kerstin Montag<br>Friesenring 32/34<br>48147 Münster<br>Tel: 0251 2709 - 113<br>» <a href="mailto:k.montag@diakonie-rwl.de">k.montag@diakonie-rwl.de</a><br><br>Vorsitzender der zuständigen Schlichtungskammer:<br>Herr Richter Schierbaum</p>
  <p>Stellvertreter:<br>Herr Richter Goerdeler und Herr Richter Limberg</p>

</div>
<div class="col-sm-6">
  <p>Gemeinsame <strong>Schlichtungsstelle der Evangelischen Kirche im Rheinland</strong> <br>und des <strong>Diakonischen Werkes der</strong> <strong>Evangelischen Kirche im Rheinland</strong><br> <br><strong>Die Adresse:</strong><br> Gemeinsame Schlichtungsstelle der Evangelischen Kirche im Rheinland und des <br>Diakonischen Werks der Evangelischen Kirche im Rheinland<strong><br> </strong><strong>- Geschäftsstelle -</strong><br> Lenaustr. 41 <br> 40470 Düsseldorf</p>
  <p>Charlotte Pilscheur<br>Tel: 0211 6398 - 430 <br> Fax: 0211 6398 - 431 <br>» <a href="mailto@schlichtungsstelle@diakonie-rwl.de">schlichtungsstelle@diakonie-rwl.de</a></p>
  <hr>
  <p><strong>Präsident</strong> des <strong>Kirchengerichtshofs der Evangelischen Kirche in Deutschland</strong> ist<br>Herr Richter am Bundesverwaltungsgericht Dr. Stephan Gatz</p>
  <p>Die Geschäftsstelle des Kirchengerichtshofes der Evangelischen Kirche in Deutschland hat ihren Sitz beim:</p><p><strong>Kirchenamt der EKD</strong><br>Herrenhäuser Str. 12<br>30419 Hannover</p> <p>Tel: 0511 2796 - 251<br>Fax: 0511 2796 - 750<br>» <a href="mailto@kirchengerichte@ekd.de">kirchengerichte@ekd.de</a></p> (<strong>Wichtiger Hinweis:</strong> Dieser Kommunikationsweg steht ausschließlich für Verwaltungsangelegenheiten zur Verfügung.)</p>
  <p>Die <strong>Verhandlungen vor den Senaten</strong> für&nbsp;mitarbeitervertretungsrechtliche Streitigkeiten sind <strong>öffentlich</strong>.</p>
  <p><span style="text-decoration: underline;">Amtszeit vom 1. Juli 2012 bis zum 30. Juni 2018</span></p>
  <p>Mitglieder des Ersten und Zweiten Senats für mitarbeitervertretungsrechtliche Streitigkeiten bei dem Kirchengerichtshof der EKD</p>
<br>
</div>

  <table class="table table-responsive table-striped">
    <tbody>
    <tr>
      <td>Senat</td>
      <td>Amt</td>
      <td>Mitglied</td>
      <td>&nbsp;</td>
      <td>Stellvertretung</td>
    </tr>
    <tr>
      <td>Erster<br> Senat</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td rowspan="6">&nbsp;</td>
      <td>Vorsitzender<br> Richter</td>
      <td>Präsident des<br> Landesarbeitsgerichts Hamburg <br>Dr. Helmut Nause, Hamburg</td>
      <td>1.</td>
      <td>Richter <span class="font5">am<br> Bundesarbeitsgericht<br> Wilhelm Mestwert<br> Schwarmstedt</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>>2.</td>
      <td>Richterin am Arbeitsgericht <br>Silke Vaupel, Unna</td>
    </tr>
    <tr>
      <td>Richterin</td>
      <td>Justitiarin<br> Susanne Boch<br>Oldenburg</td>
      <td>1.</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>2.</td>
      <td>Rechtsrat I.K.<br> Andre Gilben, Speyer</td>
    </tr>
    <tr>
      <td>Richterin</td>
      <td>Rechtsanwältin<br>Elke Neuendorf, Hannover</td>
      <td>1.</td>
      <td>Juristische Referentin Ulrike Gaffron, Stuttgart</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>2.</td>
      <td>Rechtsanwältin<br> Annette Lipphaus, Hilden</td>
    </tr>
    <tr>
      <td>Zweiter<br> Senat</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td rowspan="6">&nbsp;</td>
      <td>Vorsitzender<br> Richter</td>
      <td>
        <p>Richter <span class="font5">am<br> Bundesarbeitsgericht<br> Wilhelm Mestwert<br> Schwarmstedt</span></p>
      </td>
      <td>1.</td>
      <td>Präsident des<br> Landesarbeitsgerichts Hamburg <br>Dr. Helmut Nause, Hamburg</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>2.</td>
      <td>Richterin am Arbeitsgericht Silke Vaupel, Unna</td>
    </tr>
    <tr>
      <td>Richterin</td>
      <td>Justitiarin<br> Susanne Boch<br>Oldenburg</td>
      <td>1.</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>2.</td>
      <td>Rechtsrat I.K.<br> Andrä GlIbert, Speyer</td>
    </tr>
    <tr>
      <td>Richterin</td>
      <td>Rechtsanwalt' n<br> Elke Neuendorf, Hannover</td>
      <td>1.</td>
      <td>Juristische Referentin Ulrike Gaffron, Stuttgart</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>2.</td>
      <td>Rechtsanwältin<br> Annette Lipphaus, Hilden</td>
    </tr>
    </tbody>
  </table>