<h1>Mitgliedschaft</h1>
<%= image_tag("Titelbild_Mitgliedschaft.jpg", :alt => "Verband", :class => "img-responsive center-block") %>
<div class="col-xs-12 col-sm-6">
  <p>Herzlich willkommen !<br> Auch Sie wollen sich beteiligen an einer starken und kompetenten Vertretung der Interessen kirchlich und diakonisch Beschäftigter! Die Zeit ist Reif, Mitglied zu werden! Mitglied zu werden ist der Weg, Ihre Interessen und Rechte wahrzunehmen. Kirchliche und Diakonische Mitarbeiterinnen und Mitarbeiter gehören in den Verband kirchlicher Mitarbeiterinnen und Mitarbeiter Rheinland-Westfalen-Lippe. <br> Der Verband kirchlicher Mitarbeiterinnen und Mitarbeiter Rheinland-Westfalen-Lippe setzt sich für die Belange aller Mitarbeitenden in Kirche und Diakonie ein. Stärken Sie durch Ihre Mitgliedschaft im Verband kirchlicher Mitarbeiterinnen und Mitarbeiter Rheinland-Westfalen-Lippe die Solidargemeinschaft und nehmen Sie unmittelbar an der Willensbildung im Verband kirchlicher Mitarbeiterinnen und Mitarbeiter Rheinland-Westfalen-Lippe teil!</p>
  <p>Verlieren Sie keine Zeit, werden Sie Mitglied!</p>
</div>
<div class="col-xs-12 col-sm-6">
  <p>Dazu können Sie <a href="files/vkm/pdf/Aufnahmeantrag.pdf" target="_blank" style="color: #f59d0e;">hier </a>ein PDF-Dokument herunterladen, ausfüllen und zurückschicken, oder uns eine e-mail über unser <a href="index.php?page=2146111110&amp;f=2&amp;i=0">Kontakt Formular</a> nit dem Betreff 'Mitglied werden im vkm-rwl' mit ihrer Adresse und Telefonnummer senden. Wir werden uns mit Ihnen in Verbindung setzen.</p>
  <p>Eine Satzung des vkm-rwl finden Sie <a href="files/vkm/pdf/satzung-vkm-rwl.pdf" style="color: #f59d0e;">hier </a>.</p>
  <p>Die Tabelle mit den Mitgliedsbeiträgen für 2016 können Sie <a href="files/vkm/pdf/Mitgliedsbeitraege 2016.pdf" style="color: #f59d0e;">hier </a>herunterladen.</p>
  <p><span style="font-size: 16px;"><strong>Mitgliedsbeiträge ab 1.1.2016<br><span style="font-size: 14px;">Beitragstabelle persönliche Mitglieder mit Rechtsschutzversicherung</span><br></strong></span></p>
</div>
<table class="table table-responsive table-striped">
<tbody>
<tr>
<td>
<p><strong>Entgelt-/Besoldungs-gruppe</strong></p>
</td>
<td>
<p>Gruppe</p>
</td>
<td>
<p style="text-align: center;"><strong>Vollzeitbeschäftigte ab 75 % Regelarbeitszeit</strong></p>
</td>
<td>
<p>Gruppe</p>
</td>
<td>
<p style="text-align: center;"><strong>Teilzeitbeschäftigte ab 50 % bis 75 % Regelarbeitszeit</strong></p>
</td>
<td>
<p>Gruppe</p>
</td>
<td>
<p style="text-align: center;"><strong>Teilzeitbeschäftigte unter 50 % Regelarbeitszeit</strong></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td colspan="6">
<p style="text-align: center;">Monatsbeiträge in €</p>
</td>
</tr>
<tr>
<td>
<p>EG 1 (BAT-KF)<br>S 1, S 2 (BAT-KF)<br>SE 1 – SE&nbsp; 2 (BAT-KF)<br>SD 2 – SD 3 (BAT-KF)<br>A 1 – A 4 (BBO)<br>EG 1 – EG 2 (AVR)</p>
</td>
<td>
<p align="right">1.1</p>
</td>
<td>
<p align="right">9,00 €</p>
</td>
<td>
<p align="right">1.2</p>
</td>
<td>
<p align="right">6,70 €</p>
</td>
<td>
<p align="right">1.3</p>
</td>
<td>
<p align="right">4,50 €</p>
</td>
</tr>
<tr>
<td>
<p>EG 2&nbsp; – EG 4 (BAT-KF)<br>S 3, S 4 (BAT-KF)<br>SE 5 (BAT-KF)<br>SD 4 - SD 5 (BAT-KF)<br>A5 - A6 (BBO)<br>EG 3 - EG 5 (AVR)</p>
</td>
<td>
<p align="right">2.1</p>
</td>
<td>
<p align="right">10,60 €</p>
</td>
<td>
<p align="right">2.2</p>
</td>
<td>
<p align="right">8,20 €</p>
</td>
<td>
<p align="right">2.3</p>
</td>
<td>
<p align="right">5,50 €</p>
</td>
</tr>
<tr>
<td>
<p>EG 5 – EG 8 (BAT-KF)<br>S 5, S 6 (BAT-KF)<br>SE 6 (BAT-KF)<br>SD 6 –SD 8 (BAT-KF)<br>A7 – A9 (BBO)<br>EG 6 – EG 7 (AVR)</p>
</td>
<td>
<p align="right">3.1</p>
</td>
<td>
<p align="right">15,30 €</p>
</td>
<td>
<p align="right">3.2</p>
</td>
<td>
<p align="right">11,30 €</p>
</td>
<td>
<p align="right">3.3</p>
</td>
<td>
<p align="right">7,60 €</p>
</td>
</tr>
<tr>
<td>
<p>EG 9 - EG 11 (BAT-KF)<br>S 7 – S 9 (BAT-KF)<br>SE 7 – SE 10 (BAT-KF)<br>SD 9 – SD 11 (BAT-KF)<br>A10 – A12 (BBO)<br>EG 8 – EG 10 (AVR)</p>
</td>
<td>
<p align="right">4.1</p>
</td>
<td>
<p align="right">21,40 €</p>
</td>
<td>
<p align="right">4.2</p>
</td>
<td>
<p align="right">16,30 €</p>
</td>
<td>
<p align="right">4.3</p>
</td>
<td>
<p align="right">10,80 €</p>
</td>
</tr>
<tr>
<td>
<p>EG 12 - EG 15 (BAT-KF)<br>SE 11 - SE 18 (BAT-KF)<br>SD 12- SD 18 (BAT-KF)<br>EG 11 - EG 13 (AVR)<br>Ä 1 – Ä 4 (TV Ärzte)<br>A13 u. höher (BBO)</p>
</td>
<td>
<p align="right">5.1</p>
</td>
<td>
<p align="right">25,10 €</p>
</td>
<td>
<p align="right">5.2</p>
</td>
<td>
<p align="right">18,70 €</p>
</td>
<td>
<p align="right">5.3</p>
</td>
<td>
<p align="right">12,80 €</p>
</td>
</tr>
<tr>
<td colspan="7">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Auszubildende</p>
</td>
<td>
<p align="right">&nbsp;</p>
</td>
<td>
<p align="right">beitragsfrei</p>
</td>
<td rowspan="6" colspan="4" style="background-color: white">&nbsp;</td>
</tr>
<tr>
<td>
<p>Geringfügig Mitarbeitende unter 400,00 € mtl.</p>
</td>
<td>
<p align="right">6.1</p>
</td>
<td>
<p align="right">26,10 € Jahresbeitrag</p>
</td>
</tr>
<tr><td>

<p>Geringfügig Mitarbeitende unter 150,00 € mtl.</p>
</td><td>

<p align="right">6.2</p>
</td><td>

<p align="right">10,20 € Jahresbeitrag</p>
</td>
</tr>
<tr><td>

<p>Praktikanten</p>
</td><td>

<p align="right">6.3</p>
</td><td>

<p align="right">19,80 € Jahresbeitrag</p>
</td>
</tr>
<tr><td>

<p>Ruheständler</p>
</td><td>

<p align="right">6.4</p>
</td><td>

<p align="right">22,00 € Jahresbeitrag</p>
</td>
</tr>
<tr><td>

<p>Nichterwerbstätige/</p>
<p>Arbeitslose</p>
</td><td>

<p align="right">6.5</p>
</td><td>

<p align="right">7,40 € Jahresbeitrag</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>- <strong>Vorstehende Beiträge sind Monatsbeiträge, soweit nicht anders bezeichnet. Die Monats-/Jahresbeiträge erhöhen sich zum 01.01. jeden Jahres um den Prozentsatz der tariflichen Vergütungserhöhungen des Vorjahres</strong>.</p>
