<h1>Verband</h1>
<h3>Der vkm-rwl</h3>

<ul>
  <li>nimmt die beruflichen, wirtschaftlichen und sozialen Interessen seiner Mitglieder wahr.</li>
  <li>entsendet Arbeitnehmende in die Arbeitsrechtliche Kommission, die u.a. über Vergütung und andere Arbeitsrechtsregelungen entscheidet.</li>
  <li>vertritt seine Mitglieder in verschiedenen Einrichtungen, z.B. der Kirchlichen Zusatzversorgungskasse.</li>
  <li>nimmt Einfluss auf die Gesetzgebung für Mitarbeitende wie etwa das Mitarbeitervertretungsgesetz.</li>
  <li>berät Mitarbeitervertretungen.</li>
  <li>bietet seinen Mitgliedern Beratung, Rechtsschutz und Rechtsbeistand in Angelegenheiten die ihr Dienst- oder Arbeitsverhältnis betreffen einschließlich gerichtlicher Durchsetzung berechtigten Ansprüche.</li>
  <li>informiert seine Mitglieder durch persönliche Kontakte, Mitteilungsblätter, Informationsschriften, Veranstaltungen, Seminare, Tagungen.</li>
  <li>arbeitet mit an gesellschaftspolitischen Aufgaben z. B. Verteilung von Erwerbsarbeit.</li>
</ul>
<h3>Der vkm-rwl</h3>
<ul>
  <li>ist ein Verband haupt- und nebenberuflicher Mitarberterinnen und Mitarbeiter aller Berufe aus dem Bereich</li>
  <li>der Ev. Kirche im Rheinland</li>
  <li>der Ev. Kirche von Westfalen</li>
  <li>der Lippischen Landeskirche</li>
  <li>und ihrer Diakonischen Werke</li>
  <li>ist eine Arbeitnehmervereinigung mit gewerkschaftlichen Aufgaben</li>
  <li>ist eine Spitzenorganisation im Sinne des Tarifvertragsgesetzes.</li>
  <li>ist unabhängig und in seinem Handeln ausschließlich dem Willen seiner Mitglieder verpflichtet.</li>
  <li>wird geleitet durch eine Delegiertenversammlung, in die die Fachgruppen und Berufsverbände Delegierte entsenden und einen von der Delegiertenversammlung gewählten Vorstand.</li>
  <li>beteiligt alle Mitarbeiter durch Mitentscheidung in Mitgliederversammlungen der Fachgruppen und Berufsverbände, durch Mitgliederbefragungen, Einladungen zu Verbandstagen etc.</li>
  <li>ist Mitglied in der VKM-Deutschland, der Vereinigung von Mitarbeiterverbänden innerhalb der EKD.</li>
</ul>


<h3>Geschäftsstelle</h3>
<div class="col-sm-6">
      <p>Beratgerstr. 36<br>44149 Dortmund-Dorstfeld<br> Tel: 0231 579743<br> Fax: 0231 579754</p>
</div>
<div class="col-sm-6">
<p>Bitte wenden Sie sich bei Rückfragen betreffend <br>Mitglieder- und Seminarangelegenheiten in der Zeit <br>von 8.00 – 12.00 Uhr von Montags – Donnerstags <br>an Frau von Kolken unter der Ruf-Nummer 0231/529340</p>
</div>
<a href="mailto@info@vkm-rwl.de" style="">info@vkm-rwl.de</a></td>

<p><a href="www.vkm-rwl.de">www.vkm-rwl.de</a></p>
