<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>Ihre Bestätigung zu der Veranstaltung "<%= @event.title %>"</title>
  </head>
  <body>
    <h1>Ihre Bestätigung zu der Veranstaltung "<%= @event.title %>"</h1>
    <p></p>
  </body>
</html>