<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hauswirtschaft / Haustechnik Westfalen / Lippe</title>
</head>
<body>
  <h1>Veränderung der Seite "Hauswirtschaft / Haustechnik Westfalen / Lippe"</h1>
  <h3>Neue Veränderungen:</h3>

  <%= @content %>

</body>
</html>