<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>P채dagogik</title>
</head>
<body>
  <h1>Ver채nderung der P채dagogikseite</h1>
  <h3>Neue Ver채nderungen:</h3>

  <%= @content %>

</body>
</html>