<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Gemeindep채dagogik, Bildung und Beratung (GBB)</title>
</head>
<body>
  <h1>Ver채nderung der Seite "Gemeindep채dagogik, Bildung und Beratung (GBB)"</h1>
  <h3>Neue Ver채nderungen:</h3>

  <%= @content %>

</body>
</html>