<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hauswirtschaft und Haustechnik Rheinland</title>
</head>
<body>
  <h1>Veränderung der Seite "Hauswirtschaft und Haustechnik Rheinland"</h1>
  <h3>Neue Veränderungen:</h3>

  <%= @content %>

</body>
</html>