<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Diakonie</title>
</head>
<body>
  <h1>Veränderung der Diakonieseite</h1>
  <h3>Neue Veränderungen:</h3>

  <%= @content %>

</body>
</html>