<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Kontaktaufnahme</title>
</head>
<body>
    <ul style="list-style: none">
      <li>Neue Kontakt Aufnahme:</li>
      <li><%= @contactForm.name %> mit Folgender Email-Adresse: "<%= @contactForm.email %>" hat folgende Nachricht gesendet: </li>
      <li><%= @contactForm.message %></li>
    </ul>

</body>
</html>