<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Neue Vernstaltung </title>
</head>
<body>
<h1>Erstellung der Veranstaltung: "<%= @event.title %>"</h1>

<h2>Benutzer für die Veranstaltung</h2>
<table>
  <tr>
    <td></td>
    <td>Benutzername: </td>
    <td><%= @event.accountName %></td>
  </tr>
  <tr>
    <td></td>
    <td>Password: </td>
    <td><%= @password %></td>
  </tr>

</table>

<p>Schicken Sie diese weiter an die Teilnehmer, um die Dokumente der Veranstaltung zur Verfügung zu stellen.</p>

</body>
</html>