<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Neuer Beutzer wurde angelegt</title>
</head>
<body>
<h2>Neuer Benutzer mit folgenden Zugangsdaten wurden angelegt:</h2>
<table>
  <tr>
    <td><b>Benutzername</b></td>
    <td><%= @username %></td>
  </tr>
  <tr>
    <td><b>Passwort</b></td>
    <td><%= @password %></td>
  </tr>



</table>

</body>
</html>