

<p id="notice"><%= notice %></p>



<div class="col-xs-12 mehrspaltig">
  <p><%= @newscontent.content.html_safe %></p>
</div>
<div class="col-xs-12">
<%= link_to 'Zurück', newscontents_path %>
</div>