
  <% if news_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news_content.errors.count, "error") %> prohibited this news_content from being saved:</h2>

      <ul>
      <% news_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <form class="new_newscontent" id="new_newscontent" action="/news_contents" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="XyPpaKiBx1NrFvhgzEvpJ0NI8TYObumPd89s98d/bl9y+ikAaYfFpfyHPHAIyzDC5PjK1rrm99ILqfK9+eUh8A==" />

      <div class="form-group row">
        <label for="newscontent_title" class="col-sm-2 control-label">Überschrift</label>
        <div class="col-sm-10">
          <input type="text" name="news_content[title]" id="newscontent_title" />
        </div>
      </div>

      <div class="form-group row">
        <label for="newscontent_sendtime" class="col-sm-2 control-label">Sendedatum</label>
        <div class="col-sm-10">
          <input size="16" type="text" name="news_content[sendtime]" id="newscontent_sendtime" readonly class="form_datetime" />
        </div>
      </div>

      <div class="form-group row">
        <label for="newscontent_newsletter_id" class="col-sm-2 control-label">Newsletter Layout</label>
        <div class="col-sm-10">
          <select class="form-group" name="news_content[newsletter_id]" id="newscontent_newsletter_id">
            <% @newsletters.each do |newsletter| %>
                <option value="<%= newsletter.id %>"><%= newsletter.from %></option>
            <% end %>
          </select>
        </div>
      </div>


      <div class="form-group row">
        <label for="newscontent_content" class="col-sm-2 control-label">News</label>
        <div class="col-sm-10">
          <textarea class="tinymce" rows="40" name="news_content[content]" id="newscontent_content" ></textarea>
        </div>
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Newsletter erstellen" data-disable-with="Newsletter erstellen" />
      </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
        });
        //<![CDATA[
        (function() {
            function initTinyMCE() {
                if (typeof tinyMCE != 'undefined') {
                    tinymce.remove();
                    tinymce.init({
                        language: "de",
                        selector: "textarea.tinymce",
                        height: 500,
                        plugins: [
                            "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                            "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
                        ],

                        toolbar1: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
                        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink code | insertdatetime | forecolor backcolor",
                        toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks",

                        menubar: false,
                        toolbar_items_size: 'small',

                        content_css: [
                            '//https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
                        ]
                    });

                } else {
                    setTimeout(initTinyMCE, 50);
                }
            }

            initTinyMCE();
        })();

        //]]>
    </script>
