<div class="col-xs-12">
  <h1>Neuer Newsletter</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Newsletter.jpg", :alt => "Newsletter", :class => "img-responsive center-block") %>

</div>

<%= render 'form', news_content: @news_content %>

<%= link_to 'Back', news_contents_path %>
