
<div ng-module="roomsContainer">
    <div ng-container="calendarController">
        <h1>Kalender</h1>
        <a href="#/{{roomId}}/new" type="button" class="btn btn-default btn-lg">Veranstaltung erstellen</a><br />

        <div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
    </div>
</div>
