<div id="roomsContainerID" ng-controller="calendarController">
  <h1>Kalender</h1>
  <div class="calendar" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar"></div><br>
  <a href="<%= @id %>/new" target="_self" type="button" class="btn btn-default" style="width:100%;height:auto;">Neue Veranstaltung hinzufügen</a>
</div>
