  <div ng-controller="myEventController">

    <h1>Angemeldete Teilnehmer der Veranstaltung <b><%= @event.title %></b></h1>

    <div class="list-group">

      <%= link_to 'Exportieren', member_export_path(format: :xls), class: "list-group-item"  %>

    </div>

    <div class="list-group">
      <a href="<%= @event.id %>/neu/" class="list-group-item" target="_self">Neuen Teilnehmer hinzuf&uuml;gen</a>
    </div>


    <div ng-show="success" class="alert alert-success alert-dismissible sticky-top">
      <button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
      {{ successMessage }}
    </div>

    <div ng-show="dismiss" class="alert alert-danger alert-dismissible sticky-top">
      <button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
      {{ dangerMessage }}
    </div>





      <div ng-show="!members.length">Keine Teilnehmer vorhanden</div>

      <div ng-repeat="member in members" style="margin: 5px;" id="anchor{{member.id}}" class="anchor">

          <div class="list-group" >

              <div class="list-group-item">

                <table>
                  <tr>

                    <td><b>Status:</b></td>

                    <td ng-show="member.accept"><div style="width:10px; height:10px; border-radius:25px; background:green;position: absolute;margin-top: 18px;"></div><p style="padding-left: 15px;margin-top: 12px;">Angemeldet</p></td>

                    <td ng-show="!member.accept" ><div style="width:10px; height:10px; border-radius:25px; background:red;position: absolute;margin-top: 18px;"></div><p style="padding-left: 15px;margin-top: 12px;">Abgemeldet</p></td>

                    <td><button class="btn btn-default" ng-show="member.accept" ng-click="abmelden(member)" target="_self">Jetzt Abmelden</button></td>

                    <td><button class="btn btn-default" ng-show="!member.accept" ng-click="anmelden(member)" target="_self">Jetzt Anmelden</button></td>


                  </tr>
                  <tr>
                    <td colspan="2">
                      <h3>{{member.gender}} {{member.firstName}} {{member.lastName}}</h3>
                      <p>Beruf: {{ member.job }}</p>
                    </td>
                    <td ng-show="member.accept" style="vertical-align:text-top;"><button class="btn btn-default" ng-show="!member.sendAccept" ng-click="sendAccept(member)" target="_self">Best&auml;tigungsmail abschicken</button><p ng-show="member.sendAccept">Best&auml;tigungsmail wurde versendet</p></td>

                    <td ng-show="!member.accept"></td>
                  </tr>
                  <tr>
                    <td valign="top">
                      <h3>Kontaktdaten</h3>
                      {{ member.street }}<br />
                      {{ member.plz }} {{ member.place }}<br />
                      <br />
                      Telefon: {{ member.phone }}<br />
                      E-Mail:  {{ member.eMail }}
                    </td>
                    <td valign="top">
                      <h3>Rechnungsanschrift</h3>
                      {{ member.nameR }}<br />
                      {{ member.adresseR }}<br />
                      {{ member.ortR }}<br />



                      <p ng-show="member.payed"><br />Kostenstelle/Bestellkennzeichen: {{ member.payed }}</p>

                    </td>
                    <td valign="top">

                    </td>
                  </tr>
                  <tr>
                    <td valign="top">
                      <h3>Dienststelle</h3>
                      {{ member.nameCompany }}<br>
                      {{ member.streetCompany }}<br>
                      {{ member.placeCompany }}<br />
                      E-Mail: {{ member.eMailD }}<br />
                      Telefon: {{ member.phoneD }}<br />
                      Fax: {{ member.faxD }}
                    </td>
                    <td valign="top">

                    </td>
                    <td valign="top">

                    </td>
                  </tr>
                  <tr>
                    <td valign="top">
                      <h3>Buchung</h3>
                      Zimmer: {{ member.room }}<br>
                      Unvertr&auml;glichkeiten / Vegetarier: {{ member.veggie }}
                    </td>
                    <td valign="top">

                    </td>
                    <td valign="top">

                    </td>
                  </tr>
                </table>



              </div>

          </div>



      </div>



  </div>

