  <div ng-controller="myEventController">
      <h1>Angemeldete Teilnehmer</h1>
      <div ng-show="!members.length">Keine Teilnehmer vorhanden</div>
      <div ng-repeat="member in members" style="margin: 5px;">
          <div class="list-group">
              <div class="list-group-item">
                  <table>
                      <tr>
                        <td><small><b>Status:</b></small></td>
                        <td ng-show="member.accept"><div style="width:10px; height:10px; border-radius:25px; background:green;position: absolute;margin-top: 18px;"></div><p style="padding-left: 15px;margin-top: 12px;">Angemeldet</p></td>
                        <td ng-show="!member.accept" ><div style="width:10px; height:10px; border-radius:25px; background:red;position: absolute;margin-top: 18px;"></div><p style="padding-left: 15px;margin-top: 12px;">Abgemeldet</p></td>
                          <td><button class="btn btn-default" ng-show="member.accept" ng-click="abmelden(member)" target="_self">Jetzt Abmelden</button></td>
					  </tr>
					  		<tr>
                  <td>&nbsp;</td><td> </td><td> </td>
                </tr>
					  <tr>
						  <td>
                <p><b><i>{{member.gender}} {{member.firstName}} {{member.lastName}}</i></b></p>

								  <p><small>{{member.job}} aus {{member.place}}</small></p>
								  
								<p><b><i>Kontaktdaten</i></b><br />
							  <small>{{member.street}}<br />
							  {{member.plz}} {{member.place}}<br />
							  <div style="margin-top:15px;">Telefon: {{member.phone}}<br />
								  E-Mail: {{member.eMail}}</div></small></p>
					  			
								  <p><b><i>Dienststelle</i></b><br />
							  <small>{{member.nameCompany}}<br />
						  {{member.streetCompany}}<br />
							  {{member.placeCompany}}</small></p>
					  			
								  <p><b><i>Buchung</i></b><br />
							  <small>Zimmer: {{member.room}}<br />
								  Unverträglichkeiten / Vegetarier: {{member.veggie}}</small></p>

						  </td>
              <td>
                <p><b><i>{{member.vornameR}} {{member.nameR}}</i></b></p>
                <p><small> </small></p>
                <p><b><i>Rechnungsanschrift</i></b><br />
                  <small>{{member.adresseR}}<br />
                    {{member.ortR}} <br />
                    <div style="margin-top:15px;"> <br /></div></small></p>

                <p><b><i></i></b><br />
                  <small><br /> <br /></small></p>

                <p><b><i> </i></b><br />
                  <small> <br /> </small></p>


              </td>
              <td ng-show="member.accept"><button class="btn btn-default" ng-show="!member.sendAccept" ng-click="sendAccept(member)" target="_self">Bestätigungsmail abschicken</button><p ng-show="member.sendAccept">Bestätigungsmail wurde versendet</p></td>

              <td ng-show="!member.accept"></td>
					  </tr>
                  </table>
              </div>
          </div>

      </div>

  </div>
