<% @rooms.each do |room| %>
    <div class="list-group">
      <a href="/rooms/<%= room.id%>" class="list-group-item"><table><tr><td><%= room.number %></td><td><%= room.size %></td><td><%= room.building %></td></tr></table></a>
    </div>
<% end %>

<!--

<div ng-app="roomsContainer" ng-controller="RoomCtrl">
  <ng-view></ng-view>
  <h1>R채ume</h1>
  <div ng-show="!rooms.length">Keine R채ume vorhanden</div>
  <div ng-repeat="room in rooms" style="margin: 5px;">
    {{room.number}}
  </div>



</div>
-->
<!--
<script type="text/ng-template" id="/rooms.html">

    <h1>R채ume</h1>
    <div ng-show="!rooms.length">Keine R채ume vorhanden</div>
    <div ng-repeat="room in rooms" style="margin: 5px;">
      {{room.number}}
    </div>


  -- rest of template --
</script> -->