


<div ng-app="roomsContainer">
<!--  <div class="ng-view"></div>-->
 <!-- <ui-view></ui-view>-->
  <div id="roomsContainerID" ng-controller="RoomCtrl">
    <h1>Alle eingetragene Räume</h1>
    <div ng-show="!rooms.length">Keine Räume vorhanden</div>
    <div ng-repeat="room in rooms" style="margin: 5px;">
      <div class="list-group">
        <a href="/administrator/rooms/{{room.id}}" target="_self" ng-click="" class="list-group-item"><table><tr><td><b>Raumnummer: </b><div style="color: #f5aa30;">{{room.number}}</div></td><td><b>Seminarteilnehmer: </b><div style="color: #f5aa30;">{{room.size}}</div></td><td><b style="color: #f5aa30;">{{room.building}}</b></td></tr></table></a>
      </div>

    </div>
    <h2>Meine Veranstaltungen</h2>
    <div ng-show="!myEvents.length">Sie haben noch keine Veranstaltungen erstellt</div>
    <div ng-repeat="myEvent in myEvents" style="margin: 5px;">
      <div cllass="ist-group">
        <a href="/administrator/rooms/event/members/{{myEvent.id}}" target="_self" ng-click="" class="list-group-item"><table><tr><td style="color: #f5aa30;">{{ myEvent.title }}</td><td>Aktuelle Teilnehmer: <b style="color: #f5aa30;">{{ myEvent.member }}</b></td></tr></table></a>
      </div>
    </div>
  </div>
</div>


