


<div ng-app="roomsContainer">
<!--  <div class="ng-view"></div>-->
  <ui-view></ui-view>
</div>

<!--
<script type="text/ng-template" id="/rooms.html">

    <h1>Räume</h1>
    <div ng-show="!rooms.length">Keine Räume vorhanden</div>
    <div ng-repeat="room in rooms" style="margin: 5px;">
      {{room.number}}
    </div>


  -- rest of template --
</script> -->