<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Abmeldung f체r den vkm-rwl Newsletter</title>
</head>
<body>
<p>Sehr geehrter Herr Nutzer,<br />

  Sie haben 체ber unsere Homepage den Newsletter abbestellt.<br />
  Bitte best채tigen Sie die Abmeldung anhand des unten stehenden Links.
<br /><br />
  Vielen Dank
<br /><br />
  Ihr vkm-rwl
</p>
<p><a href="<%= @url %>" style="color: #f59d0e;">Newsletter jetzt endg체ltig abmelden</a></p>


</body>
</html>