<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anmeldung für den vkm-rwl Newsletter</title>
</head>
<body>
<p>Vielen Dank das Sie unseren Newsletter abonieren wollen. Bitte bestätigen Sie mit dem angegebenen Link Ihre Identität, um den Newsletter erfolgreich zu abonieren.</p>
<p><a href="<%= @url %>" style="color: #f59d0e;">Newsletter jetzt abonieren</a></p>


</body>
</html>