<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title><%=raw @newsletter.newsHeader %></title>
</head>
<body>
<%=raw @newsletter.newsBody %>

<footer><%=raw @newsletter.newsFooter %></footer>
<p>Möchten Sie den Newsletter abmelden, dann folgen Sie dem Link: <a href="<%= @url %>" style="color: #f59d0e;">Newsletter abmelden</a></p>
</body>
</html>