<!DOCTYPE html>
<html lang="de">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title><%= @newsletter.newsHeader %></title>
</head>
<body>
<%= @newsletter.newsBody %>

<footer><%= @newsletter.newsFooter %></footer>
</body>
</html>