<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title><%=raw @newsletter.newsHeader %></title>
</head>
<body>
<%=raw @newsletter.newsBody %>

<footer><%=raw @newsletter.newsFooter %></footer>
<a href='http://vkm.marianit.de/abo_newsletter/' + @aboNewsletters.eMail >Newsletter abmelden</a>
</body>
</html>