<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title><%=raw @newsletter.newsHeader %></title>
</head>
<body>
<%=raw @newsletter.newsBody %>

<footer><%=raw @newsletter.newsFooter %></footer>
<p>Möchten Sie den Newsletter abmelden, dann folgen Sie dem Link: <%= @url %></p>
</body>
</html>