
<div ng-controller="bookingContainer" >

  <h1>Ihre Bestellung</h1>

  <div ng-hide="cart.length" class="alert alert-info">Ihr Bestellung ist noch leer.</div>

  <table ng-show="cart.length" class="table">
    <tr ng-repeat="item in cart track by $index">
      <td>{{item.title}}</td>
      <td>{{item.anzahl }}</td>
      <td>{{item.price | currency: '€'}}</td>
    </tr>
    <tr>
      <td>{{cart.length}} Artikel</td>
      <td>Summe: {{ sum  | currency: '€'}}</td>
    </tr>
  </table>


  <form ng-submit="addCard()" action="">

    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" type="text" ng-model="newPerson.name" class="form-control" placeholder="Name" require/>
    </div>
    <div class="form-group">
      <label for="vorname">Vorname</label>
      <input id="vorname" type="text" ng-model="newPerson.vorname" class="form-control" placeholder="Vorname" require/>
    </div>
    <div class="form-group">
      <label for="einrichtung">Einrichtung</label>
      <input id="einrichtung" class="form-control" type="text" ng-model="newPerson.einrichtung" placeholder="Einrichtung" require/>
    </div>

    <div class="form-group">
      <label for="adresse">Straße und Hausnummer</label>
      <input id="adresse" class="form-control" type="text" ng-model="newPerson.adresse" placeholder="Straße und Hausnummer" require/>
    </div>
    <div class="form-group">
      <label for="ort">PLZ und Ort</label>
      <input id="ort" class="form-control" type="text" ng-model="newPerson.ort" placeholder="PLZ und Ort" require/>
    </div>
    <div class="form-group">
      <label for="email">Email-Adresse</label>
      <input id="email" class="form-control" type="text" ng-model="newPerson.email" placeholder="Email-Adresse" require/>
    </div>
    <!--
            <div class="form-group">
                <label for="maxSize">Maximalanzahl an Mitgliedern</label>
                <input id="maxSize" type="number" ng-model="newEvent.maxSize" class="form-control" placeholder="Maximalanzahl an Mitgliedern" value="{{room.size}}" disabled/>
            </div>-->
    <button type="submit" class="btn btn-default" >Jetzt bestellen</button>

  </form>
</div>