<div ng-app="roomsContainer">
<h1>Kalender</h1>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addEvent">Veranstaltung erstellen</button>

    <div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>

    <div class="modal fade" id="addEvent" tabindex="-1" rolde="dialog">
        <div clss="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Neue Veranstaltung</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="col-xs-12">
                            <input type="text" ng-model="newEvent.title" class="form-control" placeholder="Titel" />
                        </div>
                        <div class="col-xs-12">
                            <textarea type="text" ng-model="newEvent.description" class="form-control" placeholder="Beschreibung" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="daterange" value="Date.today- 01/01/2015 2:00 PM" />

                            <script type="text/javascript">
                                $(function() {
                                    $('input[name="daterange"]').daterangepicker({
                                        timePicker: true,
                                        timePickerIncrement: 5,
                                        timePicker24Hour: true,
                                        startDate: Date.today,
                                        endDate: Date.today,
                                        locale: {
                                            format: 'DD/MM/YYYY hh:mm'
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Speichern</button>
                    </div>
                </form>
            </div>
        </div>


    </div>

</div>


<div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker" } %>
    <%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.input :color, as: :select, collection: [['Black','black'], ['Green','green'], ['Red','red']] %>
</div>
