<div class="col-xs-12">

  <h1>Dokumentenbereich</h1>

</div>

<div class="col-xs-12" style="margin-bottom: 1em;">

  <%= image_tag("Titelbild_Zugangsbereich.jpg", :alt => "Zugangsbereich", :class => "img-responsive center-block") %>

</div>

<br />



<%# link_to "Neues Dokument hochladen", new_resume_path, class: "btn btn-default" %>



<br />

<br />

<div class="col-sm-12">

  <h3>Benutzer Passwort &auml;ndern</h3>

  <form class="new_user form-inline" id="new_user" enctype="multipart/form-data" action="/dokumente/<%= @user.id %>/edit" accept-charset="UTF-8" method="post">

    <input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <div class="form-group col-sm-12">

      <label class="control-label col-sm-12" for="user_password">Passwort</label>

      <div class="col-sm-12">

        <input class="form-control" style="width: 100%;" name="user[newpassword]" id="user_password" type="password" required>

      </div>

    </div>

    <div class="form-group col-sm-12" style="padding-top: 1em;">

      <label class="control-label col-sm-12" for="user_password_confirm">Passwortbest&auml;tigung</label>

      <div class="col-sm-12">

        <input class="form-control" style="width: 100%;" name="user[newpassword_confirm]" id="user_password_confirm" type="password" required>

      </div>

    </div>

    <div class="form-group col-sm-12" style="padding-top: 1em;">

      <label class="control-label col-sm-12" for="user_oldpassword">Bisheriges Passwort</label>

      <div class="col-sm-12">

        <input class="form-control" style="width: 100%;" name="user[oldpassword]" id="user_oldpassword" type="password" required>

      </div>

    </div>

    <div class="form-group col-sm-2" style="padding-top: 1em;">

      <input class="btn btn-default" name="commit" value="Speichern" class="btn btn-default" data-disable-with="Speichern" type="submit">

    </div>

  </form>

</div>