<div class="col-xs-12">
  <h1>Dokumente</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Zugangsbereich.jpg", :alt => "Zugangsbereich", :class => "img-responsive center-block") %>
</div>
<div class="col-sm-12">
  <h2>Dokumente des von Ihnen gewählten Benutzer</h2>
  <% if @documents.length > 0 %>
      <table class="table table-responsive table-striped half">
        <thead>
        <tr>
          <th>Dokumentenname</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @documents.each do |resume| %>

            <tr>
              <td><%= resume[:name] %></td>
              <td><a style="color: #f59d0e;" href="<%= resume[:url] %>" target="_blank" rel="noopener noreferrer">Anzeigen</a></td>

            </tr>

        <% end %>
        </tbody>

      </table>
  <% else%>
      <p>Die Veranstaltung hat keine Dokumente</p>
  <% end %>



</div>