<div class="col-xs-12">
  <h1>Geschäftsstelle</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Geschäftsstelle.jpg", :alt => "Verband", :class => "img-responsive center-block") %>

</div>

<div class="col-sm-6">
  <p>Beratgerstr. 36<br>44149 Dortmund-Dorstfeld<br> Tel: 0231 579743<br> Fax: 0231 579754</p>
</div>
<div class="col-sm-6">
  <p>
    Bitte wenden Sie sich bei Rückfragen betreffend <br>Mitglieder- und Seminarangelegenheiten in der Zeit <br>von 8.00 – 12.00 Uhr von Montags – Donnerstags <br>an Frau von Kolken unter der Ruf-Nummer 0231/529340<br /><a href="mailto@info@vkm-rwl.de" style="">info@vkm-rwl.de</a><br /><a href="www.vkm-rwl.de">www.vkm-rwl.de</a>

  </p>
</div>