
  <div class="col-xs-12">
    <h1>Berufsverbände</h1>
  </div>
  <div class="col-xs-12" style="margin-bottom: 1em;">
    <%= image_tag("Titelbild_Berufsverbände.jpg", :alt => "Verband", :class => "img-responsive center-block") %>

  </div>
  <table class="table table-responsive table-striped">
    <tbody>
    <tr>
      <td><strong>Berufsverband </strong></td>
      <td><strong>Vorsitz </strong></td>
      <td><strong>Adresse </strong></td>
      <td><strong>Link </strong></td>
    </tr>
    <tr align="left" valign="top">
      <td>Arbeitsgemeinschaft Rheinischer Küsterinnen und Küster</td>
      <td>Manfred Heller</td>
      <td>Bebelstr. 232<br> 46049 Oberhausen<br> Tel.: 0208-84 84 656</td>
      <td><a href="http://www.arkk.de" target="_top">http://www.arkk.de</a></td>
    </tr>
    <tr align="left" valign="top">
      <td>Ev. Küstervereinigung Westfalen Lippe</td>
      <td>Rüdiger Tepel</td>
      <td>
        <p>Haustadt 7<span style="color: #000000;"><br></span>58540 Meinerzhagen<span style="color: #000000;"><br></span>Tel.: 02358 637</p>
        <p><span style="color: #000000;"><a href="mailto:vorsitz@kuester-westfalen.de">vorsitz@kuester-westfalen.de </a> <br> </span></p>
      </td>
      <td><a href="http://www.kuester-westfalen.de" target="_top">http://www.kuester-westfalen.de</a></td>
    </tr>
    <tr align="left" valign="top">
      <td>
        <p>Rheinischer Verband der Mitarbeiterinnen und Mitarbeiter im evangelisch-kirchlichen Verwaltungsdienst RVM</p>
        <p>Geschäftsstelle</p>
        <p>Schirmerstraße 1 a<br> 52428 Jülich</p>
        <p>Telefon 02461 9748-31<br> Telefax 02461 9748-99</p>
      </td>
      <td>Susanne Romagno</td>
      <td>Tel. dienstlich:<br>0211 456222</td>
      <td><a href="http://www.rvm-homepage.de" target="_top">http://www.r-v-m.de</a></td>
    </tr>
    <tr align="left" valign="top">
      <td>Westf.-Lipp. Verband der Mitarbeiterinnen und Mitarbeiter im Ev.-Kirchl.Verwaltungsdienst</td>
      <td>Hans Ulrich Krause</td>
      <td>Postfach 102241 <br> Tel: 0231 5776103<br> 44022 Dortmund</td>
      <td>&nbsp;<a href="http://www.wlv-berufsverband.de/" target="_blank">http://www.wlv-berufsverband.de</a></td>
    </tr>
    <tr align="left" valign="top">
      <td>Landesverband Ev. Kirchenmusiker und Ev. Kirchenchöre Westfalens</td>
      <td>Ingomar Kury</td>
      <td>Iserlohner Str. 25 <br> Tel: 0231 464873<br> 58239 Schwerte</td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <!--
  <div class="col-xs-12 col-sm-6">
    <h3>Der vkm-rwl</h3>

    <ul>
      <li>nimmt die beruflichen, wirtschaftlichen und sozialen Interessen seiner Mitglieder wahr.</li>
      <li>entsendet Arbeitnehmende in die Arbeitsrechtliche Kommission, die u.a. über Vergütung und andere Arbeitsrechtsregelungen entscheidet.</li>
      <li>vertritt seine Mitglieder in verschiedenen Einrichtungen, z.B. der Kirchlichen Zusatzversorgungskasse.</li>
      <li>nimmt Einfluss auf die Gesetzgebung für Mitarbeitende wie etwa das Mitarbeitervertretungsgesetz.</li>
      <li>berät Mitarbeitervertretungen.</li>
      <li>bietet seinen Mitgliedern Beratung, Rechtsschutz und Rechtsbeistand in Angelegenheiten die ihr Dienst- oder Arbeitsverhältnis betreffen einschließlich gerichtlicher Durchsetzung berechtigten Ansprüche.</li>
      <li>informiert seine Mitglieder durch persönliche Kontakte, Mitteilungsblätter, Informationsschriften, Veranstaltungen, Seminare, Tagungen.</li>
      <li>arbeitet mit an gesellschaftspolitischen Aufgaben z. B. Verteilung von Erwerbsarbeit.</li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h3>Der vkm-rwl</h3>
    <ul>
      <li>ist ein Verband haupt- und nebenberuflicher Mitarberterinnen und Mitarbeiter aller Berufe aus dem Bereich</li>
      <li>der Ev. Kirche im Rheinland</li>
      <li>der Ev. Kirche von Westfalen</li>
      <li>der Lippischen Landeskirche</li>
      <li>und ihrer Diakonischen Werke</li>
      <li>ist eine Arbeitnehmervereinigung mit gewerkschaftlichen Aufgaben</li>
      <li>ist eine Spitzenorganisation im Sinne des Tarifvertragsgesetzes.</li>
      <li>ist unabhängig und in seinem Handeln ausschließlich dem Willen seiner Mitglieder verpflichtet.</li>
      <li>wird geleitet durch eine Delegiertenversammlung, in die die Fachgruppen und Berufsverbände Delegierte entsenden und einen von der Delegiertenversammlung gewählten Vorstand.</li>
      <li>beteiligt alle Mitarbeiter durch Mitentscheidung in Mitgliederversammlungen der Fachgruppen und Berufsverbände, durch Mitgliederbefragungen, Einladungen zu Verbandstagen etc.</li>
      <li>ist Mitglied in der VKM-Deutschland, der Vereinigung von Mitarbeiterverbänden innerhalb der EKD.</li>
    </ul>
  </div>
-->
