
<div class="col-xs-12">
  <h1>Berufsverbände</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Berufsverbände.jpg", :alt => "Verband", :class => "img-responsive center-block") %>
</div>
<div class="col-xs-12">
  <table class="table table-responsive table-striped">
    <tbody>
    <tr>
      <td><strong>Berufsverband </strong></td>
      <td><strong>Vorsitz </strong></td>
      <td><strong>Adresse </strong></td>
      <td><strong>Link </strong></td>
    </tr>
    <tr align="left" valign="top">
      <td>Arbeitsgemeinschaft Rheinischer Küsterinnen und Küster</td>
      <td>Manfred Heller</td>
      <td>Bebelstr. 232<br> 46049 Oberhausen<br> Tel.: 0208-84 84 656</td>
      <td><a href="http://www.arkk.de" target="_top">http://www.arkk.de</a></td>
    </tr>
    <tr align="left" valign="top">
      <td>Ev. Küstervereinigung Westfalen Lippe</td>
      <td>Rüdiger Tepel</td>
      <td>
        <p>Haustadt 7<span style="color: #000000;"><br></span>58540 Meinerzhagen<span style="color: #000000;"><br></span>Tel.: 02358 637</p>
        <p><span style="color: #000000;"><a href="mailto:vorsitz@kuester-westfalen.de">vorsitz@kuester-westfalen.de </a> <br> </span></p>
      </td>
      <td><a href="http://www.kuester-westfalen.de" target="_top">http://www.kuester-westfalen.de</a></td>
    </tr>
    <tr align="left" valign="top">
      <td>
        <p>Rheinischer Verband der Mitarbeiterinnen und Mitarbeiter im evangelisch-kirchlichen Verwaltungsdienst RVM</p>
        <p>Geschäftsstelle</p>
        <p>Schirmerstraße 1 a<br> 52428 Jülich</p>
        <p>Telefon 02461 9748-31<br> Telefax 02461 9748-99</p>
      </td>
      <td>Susanne Romagno</td>
      <td>Tel. dienstlich:<br>0211 456222</td>
      <td><a href="http://www.rvm-homepage.de" target="_top">http://www.r-v-m.de</a></td>
    </tr>
    <tr align="left" valign="top">
      <td>Westf.-Lipp. Verband der Mitarbeiterinnen und Mitarbeiter im Ev.-Kirchl.Verwaltungsdienst</td>
      <td>Hans Ulrich Krause</td>
      <td>Postfach 102241 <br> Tel: 0231 5776103<br> 44022 Dortmund</td>
      <td>&nbsp;<a href="http://www.wlv-berufsverband.de/" target="_blank">http://www.wlv-berufsverband.de</a></td>
    </tr>
    <tr align="left" valign="top">
      <td>Landesverband Ev. Kirchenmusiker und Ev. Kirchenchöre Westfalens</td>
      <td>Ingomar Kury</td>
      <td>Iserlohner Str. 25 <br> Tel: 0231 464873<br> 58239 Schwerte</td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
</div>