<div class="col-xs-12">
  <h1>Vorstand</h1>
</div>
<div class="col-xs-12" style="margin-bottom: 1em;">
  <%= image_tag("Titelbild_Vorstand.jpg", :alt => "Vorstand", :class => "img-responsive center-block") %>

</div>
<div class="col-xs-12">
  <table class="table table-responsive table-striped half">
    <thead>
      <tr>
        <td>
          <p><strong>Name</strong></p>
        </td>
        <td>
          <p><strong>Vorname</strong></p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Becker <br />Vorstandsvorsitzender</td>
        <td>Detlef</td>
      </tr>
      <tr>
        <td>Riedel<br />Vorstand Stellvertreter</td>
        <td>Klaus</td>
      </tr>
      <tr>
        <td>Thormann<br />Vorstand Stellvertreter</td>
        <td>Dieter</td>
      </tr>
      <tr>
        <td>Bothner</td>
        <td>Kerstin</td>
      </tr>
      <tr>
        <td>Ellerbrock</td>
        <td>Klaus-Martin</td>
      </tr>
      <tr>
        <td>Fröhlich<br />Schatzmeister</td>
        <td>Jürgen</td>
      </tr>
      <tr>
        <td>Kamps<br />stellvertretender Schriftführer</td>
        <td>Jörg</td>
      </tr>
      <tr>
        <td>Menze</td>
        <td>Sabine</td>
      </tr>
      <tr>
        <td>Ohle</td>
        <td>Ingo</td>
      </tr>
      <tr>
        <td>Peitz<br />stellvertretender Schatzmeister</td>
        <td>Rainer</td>
      </tr>
      <tr>
        <td>Rogalla</td>
        <td>Uta</td>
      </tr>

    </tbody>
  </table>
</div>