<%# navigation styled for Bootstrap 4.0 %>

<div class="container-fluid" style="margin-bottom: 15px;">

  <a class="" href="http://vkm-rwl.de/">

    <%= image_tag("logo.png", :alt => "Logo", :class => "img-responsive center-block") %>

<!--    <img alt="Logo" src="../../assets/images/logo_h.png" class="img-responsive center-block">-->

  </a>

</div>